.bankBox {
    display: inline-block;
    margin: 35px;
    /*border: 1px solid red;*/
    height: 100px;
    width: 225px;
    cursor: pointer;
    position: relative;
}

.bankImg {
    width: 100px;
    height: 100px;
    border: 1px solid #e1e1e1;
}

.bankImg img {
    width: 60px;
    height: 60px;
    margin: 20px 20px;
}

.bankContent {
    position: relative;
    padding-left: 10px;
}

.bankContentDelete {
    display: inline-block;
    position: absolute;
    top: -12px;
    left: -12px;
    background: #f97383;
    z-index: 50;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.whiteLine {
    margin: 13px 7px;
    width: 16px;
    height: 4px;
    background: #ffffff;
}

.bankContentEdit {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 225px;
    height: 100px;
    line-height: 100px;
    color: #888888;
    font-size: 22px;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    /*border: 1px solid #cccccc;*/
}

.bankContentP1 {
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.bankContentP2 {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #cccccc;
}