.bank-box {
    display: inline-block;
    margin: 35px;
    height: 100px;
    width: 225px;
    cursor: pointer;
    position: relative;
}

.bank-img {
    width: 100px;
    height: 100px;
    border: 1px solid #e1e1e1;
}

.bank-img img {
    width: 98px;
    height: 98px;
}

.bank-content {
    position: relative;
    padding-left: 10px;
}

.bank-content-delete {
    display: inline-block;
    position: absolute;
    top: -12px;
    left: -12px;
    background: #f97383;
    z-index: 5;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.white-line {
    margin: 13px 7px;
    width: 16px;
    height: 4px;
    background: #ffffff;
}

.bank-content-name {
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.bank-content-detail {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #cccccc;
}

.bank-set-name {
    margin-right: 10px;
    display: inline-block;
    color: #9695a7;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
}