.bankBox {
    display: inline-block;
    margin: 35px;
    /*border: 1px solid red;*/
    height: 100px;
    width: 225px;
    cursor: pointer;
    cursor: pointer;
}

.bankImg {
    width: 100px;
    height: 100px;
    border: 1px solid #e1e1e1;
}

.bankImg img {
    width: 100px;
    height: 100px;
}

.bankContent {

}