.link-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.jump-page {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    padding: 0;
    text-align: center;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-15 {
    margin-right: 15px;
}
/*按钮组*/
.btn-grey {
    vertical-align: top;
    height: 30px;
    line-height: 18px;
    padding: 5px 10px;
    background: #f7f7f7;
    border: 1px solid #cccccc;
    color: #4c4c4c;
    font-size: 14px;
    margin-left: 15px;
}

.btn-jump-page {

}
.btn-greyImg {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: none;
    /*border: 1px solid #cccccc;*/
    background: #c7c7c7;
    vertical-align: top;
    margin-right: 10px;
}

.content-btn {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    font-size: 14px;
    color: #4c4c4c;
    border: 1px solid #cccccc;
    background: #f7f7f7;
}

.btn-blue {
    height: 30px;
    line-height: 18px;
    padding: 5px 12px;
    background: #6b7acb;
    border: 1px solid #cccccc;
    color: #ffffff;
    font-size: 14px;
}

.btn-input {
    display: inline-block;
    text-align: left;
    padding-left: 10px;
    height: 30px;
}

.btn-drop {
    margin: 8px 13px 0;
    padding: 5px 10px;
    height: 240px;
    overflow: auto;
    position: absolute;
    top: 30px;
    background: #ffffff;
    z-index: 10;
    border: 1px solid #cccccc;
}

.account-p-bank {
    margin: 8px 13px 0;
    padding: 15px 10px 0;
    height: 200px;
    overflow: auto;
    position: absolute;
    top: 30px;
    left: -200px;
    background: #ffffff;
    border: 1px solid #cccccc;
    z-index: 10;
}

.account-p-bank p {
    padding: 0 0 0 15px;
}

.account-p-give {
    width: 300px;
    padding: 15px 10px 0;
    height: 160px;
    overflow: auto;
    position: absolute;
    top: -170px;
    left: 0;
    background: #ffffff;
    z-index: 12;
    border: 1px solid #cccccc;
}

.account-p-choice {
    margin: 8px 13px 0;
    padding: 5px 10px;
    height: 102px;
    overflow: auto;
    position: absolute;
    top: 30px;
    background: #ffffff;
    z-index: 10;
}

.btn-dropDetail {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.btn-blue1 {
    height: 40px;
    line-height: 20px;
    padding: 10px 28px;
    background: #6b7acb;
    border: 1px solid #cccccc;
    color: #ffffff;
    font-size: 14px;
    margin-top: 6px;
}

.btn-product {
    display: inline-block;
    width: 200px;
    height: 300px;
    margin-right: 100px;
    font-size: 18px;
}

.btnDelete {
    height: 15px;
    line-height: 5px;
    padding: 5px;
    border-radius: 10px;
    background: #f97383;
    color: #ffffff;
    font-size: 5px;
    margin-left: 10px;
    font-weight: 800;
}

.btn-blueImg {
    width: 18px;
    height: 18px;
    /*border: 1px solid #8188b1;*/
    background: #a2a9d2;
    vertical-align: top;
    margin-right: 10px;
}

.btn-blue-img {
    display: inline-block;
    box-sizing: border-box;
    width: 21px;
    height: 20px;
    border: 1px solid #8188b1;
    background: #a2a9d2;
    vertical-align: middle;
}

.img-message {
    border: none;
    background: url("../img/icon/message.png");
    background-size: 100%;
}

.img-setting {
    border: none;
    background: url("../img/icon/setting.png");
    background-size: 100%;
}

.img-account {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: -1px;
    border: none;
    background: url("../img/tips/account.png");
    background-size: 100%;
    vertical-align: middle;
}

.padding-none {
    padding: 0;
}

.list-select {
    width: 80px;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
}

.width-alert {
    /*display: none;*/
    width: 200px;
    vertical-align: top;
    position: fixed;
    top: 50px;
    margin-left: calc(50% - 100px);
    padding: 5px 10px;
    text-align: center;
    background: #a6afe0;
    color: #ffffff;
}

#alert {
    display: none;
}

.input-right {
    position: absolute;
    top: 6px;
    left: 90%;
}

.input-tips-password {
    position: absolute;
    top: 6px;
    right: 30px;
    color: #F97383;
}

.help-block {
    display: inline;
}

.help-text {
    color: #F97383;
    margin-bottom: 20px;
    padding-left: 10px;
}

.dropdown-menu {
    min-width: 100px;
}

.progress {
    height: 6px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #eaeff3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
}

.progress-bar-after {
    background-color: #f97383;
}

.progress-bar-after-grey {
    background-color: #e0e0e0;
}
.progress-bar-go {
    background-color: #fac3ca;
}

/*滚动条*/
#nicescroll1 {
    overflow-y: auto;
    overflow-x: hidden;
    height: 580px;
    scrollbar-arrow-color: #f0f0f0; /*三角箭头的颜色*/
    scrollbar-face-color: #000; /*立体滚动条的颜色（包括箭头部分的背景色）*/
    scrollbar-3dlight-color: #302D30; /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #302D30; /*滚动条的高亮颜色（左阴影？）*/
    scrollbar-shadow-color: #302D30; /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #302D30; /*立体滚动条外阴影的颜色*/
    scrollbar-track-color: #302D30; /*立体滚动条背景颜色*/
    scrollbar-base-color: #302D30; /*滚动条的基色*/
}

#nicescroll2 {
    overflow-y: auto;
    overflow-x: hidden;
    height: 396px;
    scrollbar-arrow-color: #302D30; /*三角箭头的颜色*/
    scrollbar-face-color: #000; /*立体滚动条的颜色（包括箭头部分的背景色）*/
    scrollbar-3dlight-color: #302D30; /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #302D30; /*滚动条的高亮颜色（左阴影？）*/
    scrollbar-shadow-color: #302D30; /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #302D30; /*立体滚动条外阴影的颜色*/
    scrollbar-track-color: #302D30; /*立体滚动条背景颜色*/
    scrollbar-base-color: #302D30; /*滚动条的基色*/
}

#commend_list {
    overflow-y: auto;
    overflow-x: hidden;
    height: 229px;
    scrollbar-arrow-color: #f8f9fb; /*三角箭头的颜色*/
    scrollbar-face-color: #000; /*立体滚动条的颜色（包括箭头部分的背景色）*/
    scrollbar-3dlight-color: #302D30; /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #302D30; /*滚动条的高亮颜色（左阴影？）*/
    scrollbar-shadow-color: #302D30; /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #302D30; /*立体滚动条外阴影的颜色*/
    scrollbar-track-color: #f8f9fb; /*立体滚动条背景颜色*/
    scrollbar-base-color: #302D30; /*滚动条的基色*/
}

/*chrome滚动条*/
::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
}

::-webkit-scrollbar {
    width: 17px;
    height: 17px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #b1b8e1;
    -webkit-border-radius: 5px;
    outline-offset: -2px;
    border: 5px solid #f8f8f8;
}

::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #b1b8e1;
    -webkit-border-radius: 4px;
}

.list-group-item {
    border-bottom: 1px solid #cccccc;
}

.list-group-item:first-child {
    border-radius: 0;
    border-top: none;
    margin-top: 0;
}

.list-group-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.change-alert {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.alert-content {
    position: relative;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 150px;
    margin: -75px 0 0 -160px;
    border-radius: 5px;
    background: #ffffff;
}

.alert-content div {
    padding-top: 20px;
    padding-right: 30px;
    text-align: right;
}

.alert-content p {
    padding-top: 6px;
    text-align: center
}

.alert-content h4 {
    padding-top: 20px;
    text-align: center;
}

.select-placeholder {
    display: inline-block;
    position: absolute;
    left: 28px;
    top: 7px;
    font-size: 14px;
    color: #999999;
}

.form-control {
    border-radius: 0;
}