.btnGrew {
    height: 31px;
    line-height: 20px;
    padding: 6px 10px 5px;
    background: #f7f7f7;
    border: 1px solid #cccccc;
    color: #4c4c4c;
    font-size: 14px;
    margin-left: 15px;
}

.btnGrewImg {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #cccccc;
    background: #c7c7c7;
    vertical-align: top;
    margin-right: 10px;
}

.btnBlue {
    height: 31px;
    line-height: 20px;
    padding: 6px 12px 5px;
    background: #6b7acb;
    border: 1px solid #cccccc;
    color: #ffffff;
    font-size: 14px;
    margin-left: 15px;
    /*vertical-align: top;*/
}

.btnInput {
    display: inline-block;
    text-align: left;
    padding-left: 10px;
    height: 30px;
}

.btnDrop {
    margin: 8px 13px 0;
    padding: 5px 10px;
    height: 240px;
    overflow: auto;
    position: absolute;
    top: 30px;
    background: #ffffff;
    z-index: 100;
}

.btnDrop2 {
    margin: 8px 13px 0;
    padding: 15px 10px 0;
    height: 160px;
    overflow: auto;
    position: absolute;
    top: 30px;
    left: -200px;
    background: #ffffff;
    z-index: 100;
}

.btnDrop1 {
    margin: 8px 13px 0;
    padding: 5px 10px;
    height: 102px;
    overflow: auto;
    position: absolute;
    top: 30px;
    background: #ffffff;
    z-index: 100;
}

.btnDropDetail {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.btnBlue1 {
    height: 40px;
    line-height: 20px;
    padding: 10px 28px;
    background: #6b7acb;
    border: 1px solid #cccccc;
    color: #ffffff;
    font-size: 14px;
    margin-top: 6px;
}

.btnDelete {
    height: 15px;
    line-height: 5px;
    padding: 5px;
    border-radius: 10px;
    background: #f97383;
    color: #ffffff;
    font-size: 5px;
    margin-left: 10px;
    font-weight: 800;
}

.btnBlueImg {
    width: 18px;
    height: 18px;
    border: 1px solid #8188b1;
    background: #a2a9d2;
    vertical-align: top;
    margin-right: 10px;
}

.btnBlueImg1 {
    width: 18px;
    height: 18px;
    border: 1px solid #8188b1;
    background: #a2a9d2;
    vertical-align: middle;
    margin-right: 10px;
}

.noPadding {
    padding: 0;
}

.list_select {
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
}

.addBtn {
    width: 48%;
    height: 140px;
    background: #ffffff;
    padding: 0;
    cursor: pointer;
    padding-top: 20px;
}

.coverGrew {
    position: absolute;
    left: 0;
    z-index: 90;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 180px;
    line-height: 180px;
    font-size: 26px;
    text-align: right;
    color: #4c4c4c;
}
.width100{
    width:100%;
    min-width: 1065px;
    display: inline-block;
}
.width10{
    width:10%;
    min-width: 70px;
    display: inline-block;
}
.width8{
    width:8%;
    display: inline-block;
}
.width15{
    width: 16%;
    display: inline-block;
}

.width13 {
    width: 13%;
    display: inline-block;
}
.width20{
    width:20%;
    display: inline-block;
}
.width25{
    width:calc(25% - 30px);
    display: inline-block;
}
.width30{
     width:30%;
    min-width: 200px;
     display: inline-block;;
 }
.width35{
    display: inline-block;
    width: 35%;
    vertical-align: top;
    position: relative;
}

.width60 {
    display: inline-block;
    width: calc(60% - 10px);
    vertical-align: top;
    position: relative;
}

.width-alert {
    /*display: none;*/
    width: 200px;
    vertical-align: top;
    position: fixed;
    top: 50px;
    margin-left: calc(50% - 100px);
    padding: 5px 10px;
    text-align: center;
    background: #a6afe0;
    color: #ffffff;
}

#alert {
    display: none;
}

.width80 {
    display: inline-block;
    width: 79%;
    vertical-align: top;
    position: relative;
}
.textEnd{
    text-align: right;
    margin-top: 5px;
}

.input-right {
    position: absolute;
    top: 6px;
    left: 90%;
}

.help-block {
    display: inline;
}

.help-text {
    color: red;
    margin-bottom: 20px;
    padding-left: 10px;
}