.list-ul, .list-title, .list-common, .list-user, .list-title-count, .list-user {
    font-size: 12px;
}

.list-ul {
    margin-right: 15px;
    width: 100%;
    position: relative;
}

.list-ul-height-1 {
    height: calc(100% - 235px);
}

.list-ul-height-2 {
    height: calc(100% - 267px);
}

.list-ul-height-3 {
    height: calc(100% - 185px);
}

.line-roll {
    max-height: 100%;
    overflow-y: scroll;
    background: #f8f8f8;
}

.list-out {
    background: #ffffff;
    height: 100%;
}

.list-title {
    position: relative;
    display: block;
    padding: 10px 15px;
    border: 1px solid #ccc;
    height: 50px;
    line-height: 30px;
    width: calc(100% - 17px);
    background: #f5f6fa;
    box-sizing: border-box;
}

.list-title span {
    padding: 0;
    font-size: 12px;
}

.list-title-count {
    width: calc(100% - 17px);
    height: 30px;
    padding: 8px 15px 10px 15px;
    background: #f5f6fa;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.list-common {
    height: 100px;
    line-height: 16px;
    width: 100%;
    padding: 42px 15px;
    border-radius: 0;
}

.list-common span {
    vertical-align: top;
    padding: 0;
    font-size: 12px;
}

.list-common > a:visited {
    color: #4C6788;
}

.list-common > a:visited {
    color: #F97383;
}

.list-common input, .list-user input {
    margin-right: 6px;
    margin-top: 1px;
    vertical-align: top;
}

.list-user {
    height: 60px;
    width: 100%;
    padding: 22px 15px;
    box-sizing: border-box;
}

.list-user span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
}

.list-user div {
    line-height: 16px;
}

.list-ul-sale {
    margin-right: 15px;
    width: calc(100% - 17px);
    position: relative;
}

.list-bottom {
    width: calc(100% - 17px);
    line-height: 36px;
    height: 50px;
    padding: 7px 15px;
    font-size: 12px;
    border: 1px solid #cccccc;
    background: #ffffff;
}

.company-overflow {
    max-width: calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.company-overflow-2 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.company-overflow a, .company-overflow-2 a {
    cursor: pointer;
}

.img-size {
    width: 15px;
    height: 15px;
    vertical-align: top;
    margin-left: 4px;
}

.list-a-link {
    padding: 2px 10px;
}