.account {
    height: 160px;
    background: #f9fafc;
    margin-bottom: 10px;
}

.account-group {
    height: 140px;
    background: #f9fafc;
    margin-bottom: 10px;
}

.account-num {
    background: #ffffff;
    height: 160px;
    width: calc(100% - 336px);
}

.account-num-group {
    background: #ffffff;
    width: calc(100% - 168px);
    padding-top: 10px;
}

.account-detail {
    display: inline-block;
    width: 168px;
    margin: 14px 0;
    text-align: center;
}

.account-detail > img {
    display: inline-block;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    margin: 20px 0 2px;
}

.account-detail-img {
    width: 50px;
    height: 50px;
    margin: 10px 0 2px;
}
.account-detail p {
    font-size: 14px;
    color: #bdbdbe;
    padding: 7px 0;
    text-align: center;
}

.account-detail div {
    font-size: 12px;
    color: #bdbdbe;
    padding: 7px 0;
    text-align: left;
    text-indent: 20px;
}

.date-count {
    padding: 30px;
}

.date-count p:nth-child(1) {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.date-count p:nth-child(2) {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin-top: 6px;
}

.date-count p:nth-child(3) {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    margin-top: 14px;
}

.account-img {
    padding: 18px 20px 0 60px;
    width: 180px;
    text-align: center;
}

.account-img img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.account-p {
    margin-top: 36px;
    width: 180px;
}

.account-p p {
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

.message-box {
    position: relative;
    width: 100%;
    margin: 0 0 20px;
    padding: 0 20px;
    border: 1px solid #cccccc;
}

.message-img {
    display: inline-block;
    width: 48px;
    height: 48px;
    border: 2px solid #e6e6e6;
    margin-top: 13px;
}

.message-img img {
    width: 60%;
    height: 60%;
    margin: 20%;
}

.message-date {
    margin-top: 55px;
}

.message-over {
    margin-top: 55px;
    margin-left: 60px;
    font-size: 16px;
}