<div class="content-two">
    <div class="content-title margin-left">
        <span>银行消息</span>
    </div>
    <div class="list-bank">
        <div class="message-box clear" ng-repeat="message in message_list">
            <div class="message-img fl">
                <img ng-src="{{message.icon}}" alt="">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6  fl" style="margin-top: 18px">
                <p>{{message.bankName}}-{{message.productName}}</p>
                <p><a>{{message.userName}}</a>&nbsp;&nbsp;<a>{{message.position}}</a></p>
                <p>{{message.reason}}</p>
                <p><a href="">{{message.companyName || message.applyName}}</a></p>
                <p class="col-sm-10 col-md-10 col-lg-10 noPadding" ng-show="message.op == 0 && message.opType !='stop'">
                    提交状态&nbsp;<span
                        style="color: #F97383">{{message.progressPro}}->{{message.progressText}}</span>&nbsp;&nbsp;
                    <span class="fr">预计{{message.days}}天</span>
                </p>
                <p class="col-sm-10 col-md-10 col-lg-10 noPadding" ng-show="message.op == 0 && message.opType =='stop'">
                    提交状态&nbsp;
                    <span>{{message.progressText}}</span>>&nbsp;&nbsp;
                    <span class="fr">项目已中止</span>
                </p>
                <p class="col-sm-10 col-md-10 col-lg-10 noPadding" ng-show="message.op == 1">提交状态&nbsp;<span
                        style="color: #F97383">{{message.progressText}}</span>&nbsp;&nbsp;<span
                        class="fr">预计{{message.days}}天</span>
                </p>
                <p class="col-sm-10 col-md-10 col-lg-10 noPadding" ng-show="message.op == 2">提交状态&nbsp;<span
                        style="color: red">{{message.progressText}}</span>&nbsp;&nbsp;<span
                        class="fr">预计{{message.days}}天</span>
                </p>
                <div class="progress" style="margin-left: 60px;width:calc(80% - 60px)">
                    <div class="progress-bar progress-bar-after" ng-hide="message.op == 1 || message.opType == 'stop'"
                         style="width: {{message.jindu}}%">
                        <span class="sr-only"></span>
                    </div>
                    <div class="progress-bar progress-bar-after" ng-show="message.opType == 'stop'"
                         style="width: {{message.jindu_success}}%;background: #e0e0e0">
                        <span class="sr-only"></span>
                    </div>
                    <div class="progress-bar progress-bar-after" ng-show="message.op == 1"
                         style="width: {{message.jindu_success}}%">
                        <span class="sr-only"></span>
                    </div>
                    <div class="progress-bar progress-bar-go progress-bar-striped"
                         ng-show="message.op == 0 && message.opType != 'stop'"
                         style="width: {{message.jindu_next}}%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
            <div class="message-date col-lg-2 col-md-2 col-sm-2 fl" style="padding: 0;text-align: center">
                <p>{{message.datetime |date:'yyyy-MM-dd'}}</p>
                <p>{{message.datetime |date:'HH:mm'}}</p>
            </div>
            <div class="message-date col-lg-3 col-md-3 col-sm-3 noPadding fl"
                 ng-show="message.op == 0 && message.opType != 'stop'">
                <div class="form-group col-lg-6 col-md-6 col-sm-6 noPadding">
                    <div class="col-sm-12 col-md-12 col-lg-12 noPadding" style="position: relative">
                        <button type="button" ng-click="show_allow(message.status,$index,0)" class="btn-blue fr"
                                id="products">通过
                        </button>
                        <div class="account-p-bank" style="border: 1px solid #4c4c4c;width: 300px; left: -140px"
                             ng-show="showAllow[$index]">
                            <p style="padding-bottom: 6px">通过</p>
                            <div class="btn-group col-sm-12 col-md-12 col-lg-12">
                                <button type="button" class="btn-input col-sm-12 col-md-12 col-lg-12" id="bankname"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    {{statusText ||"选择进度"}}
                                </button>
                                <ul class="dropdown-menu account-p-choice col-sm-6 col-lg-6">
                                    <li class="list-select" ng-click="choiceStatus(2)">下户</li>
                                    <li class="list-select" ng-click="choiceStatus(3)">审批中</li>
                                    <li class="list-select" ng-click="choiceStatus(4)">审批通过</li>
                                    <li class="list-select" ng-click="choiceStatus(5)">开户</li>
                                    <li class="list-select" ng-click="choiceStatus(6)">放款</li>
                                    <li class="list-select" ng-click="choiceStatus(7)">成功融资</li>
                                </ul>
                            </div>
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0;margin-top: 10px">
                                    <input type="text" style="padding: 0;text-indent:10px;" class="form-control"
                                           ng-model="message.dayNum" placeholder="预计时间">
                                    <span class="input-right">天</span>
                                </div>
                            </div>
                            <button class="btn btn-blue margin-left15" type="submit"
                                    ng-click="allow(message.dayNum,message.id,$index)">确定
                            </button>
                            <button class="btn btn-grey margin-left15" type="submit"
                                    ng-click="cancel($index)">取消
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 fr noPadding">
                    <div class="col-sm-12 col-md-12 col-lg-12 noPadding" style="position: relative">
                        <button type="button" ng-click="show_allow(message.status,$index,1)" class="btn-blue fr">驳回
                        </button>
                        <div class="account-p-bank" style="border: 1px solid #4c4c4c;width: 300px;height: 160px"
                             ng-show="showRefuse[$index]">
                            <p>驳回</p>
                            <div class="form-group col-sm-12 col-md-12 col-lg-12 ">
                                <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0;margin-top: 10px">
                                    <input type="text" style="padding: 0; text-indent:10px;" class="form-control"
                                           ng-model="reason_refuse" placeholder="驳回原因">
                                </div>
                            </div>
                            <button class="btn btn-blue margin-left15" type="submit"
                                    ng-click="refuse(message.id,$index,reason_refuse)">确定
                            </button>
                            <button class="btn btn-blue margin-left15" type="submit"
                                    ng-click="cancel($index)">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message-date col-lg-3 col-md-3 col-sm-3 noPadding fl"
                 ng-show="message.op == 0 && message.opType == 'stop'">
                <div class="form-group col-lg-4 col-md-4 col-sm-4 noPadding">
                    <div class="col-sm-12 col-md-12 col-lg-12 noPadding" style="position: relative">
                        <button type="button" ng-click="continue(message.id)" class="btn-blue"
                                id="continue">继续任务
                        </button>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 noPadding">
                    <div class="col-sm-12 col-md-12 col-lg-12 noPadding" style="position: relative">
                        <button type="button" ng-click="change_to_bank(message.applyId)" class="btn-blue"
                                id="change_bank">更换银行
                        </button>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 noPadding">
                    <div class="col-sm-12 col-md-12 col-lg-12 nopadding" style="position: relative">
                        <button type="button" ng-click="stop_alert($index)" class="btn-blue fr">中止项目
                        </button>
                    </div>
                </div>
            </div>
            <div class="message-date col-lg-3 col-md-3 col-sm-3 noPadding fl" ng-show="message.op != 0">
                <div class="btn-group col-sm-12 col-md-12 col-lg-12 noPadding" style="position: relative">
                    <div class="form-group col-sm-12 col-md-12 col-lg-12 fr">
                        <button type="button" ng-click="show_allow(message.status,$index,0)" class="btn-blue fr"
                                id="change">修改进度
                        </button>
                    </div>
                    <div class="account-p-bank" style="border: 1px solid #4c4c4c;width: 300px;left: -60px;"
                         ng-show="showAllow[$index]">
                        <div class="btn-group col-sm-12 col-md-12 col-lg-12">
                            <p>修改进度</p>
                            <button type="button" class="btn-input col-sm-12 col-lg-12" id="change_status"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                {{statusText ||"选择进度"}}
                            </button>
                            <ul class="dropdown-menu account-p-choice col-sm-6 col-lg-6">
                                <li class="list-select" ng-click="choiceStatus(2)">下户</li>
                                <li class="list-select" ng-click="choiceStatus(3)">审批中</li>
                                <li class="list-select" ng-click="choiceStatus(4)">审批通过</li>
                                <li class="list-select" ng-click="choiceStatus(5)">开户</li>
                                <li class="list-select" ng-click="choiceStatus(6)">放款</li>
                                <li class="list-select" ng-click="choiceStatus(7)">成功融资</li>
                            </ul>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0;margin-top: 10px">
                                <input type="text" style="padding: 0;text-indent:10px;" class="form-control"
                                       ng-model="message.dayNum" placeholder="预计时间">
                                <span class="input-right">天</span>
                            </div>
                        </div>
                        <button class="btn btn-blue margin-left15" type="submit"
                                ng-click="change_status(message.dayNum,message.applyId,$index)">确定
                        </button>
                        <button class="btn btn-grey margin-left15" type="submit"
                                ng-click="cancel($index)">取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="change-alert" ng-show="change_alert == true" ng-click="closeAlert('father',$event)">
    <div class="alert-content" ng-click="change_alert($event)">
        <h4>中止项目</h4>
        <p>你确定要中止这个项目吗？</p>
        <div>
            <button class="btn-blue" ng-click="stopped()">确定</button>
            <button class="btn-blue" ng-click="cancel_alert()">取消</button>
        </div>
    </div>
</div>