<div class="content-two">
    <div class="content-title margin-left">
        <span>系统消息</span>
    </div>
    <div class="list-bank">
        <div class="message-box clear" ng-repeat="message in stop_list track by $index">
            <div class="col-sm-6 col-md-6 col-lg-6  fl" style="margin-top: 18px">
                <p>白杨（销售）销售对白杨申请的主打产品速房贷进行中止项目操作</p>
                <p><a>{{message.applyReason}}</a></p>
                <p>{{message.reason}}</p>
                <p class="col-sm-10 col-md-10 col-lg-10 noPadding">
                    提交状态&nbsp;<span
                        style="color: #F97383">{{message.progressPro}}</span>&nbsp;&nbsp;
                    <span class="fr">项目已中止</span>
                </p>
                <div class="progress" style="margin-left: 60px;width:calc(80% - 60px)">
                    <div class="progress-bar progress-bar-after" style="width: {{message.jindu}}%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 fl" style="padding: 0;text-align: center;margin-top: 30px">
                <p>{{message.createTime |date:'yyyy-MM-dd'}}</p>
                <p>{{message.createTime |date:'HH:mm'}}</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 noPadding fl" style="margin-top: 30px">
                <div class="form-group col-lg-5 col-md-5 col-sm-5 noPadding">
                    <div class="col-sm-12 col-md-12 col-lg-12 noPadding" style="position: relative">
                        <button type="button" class="btn-blue" id="continue">
                            <a style="color: #ffffff;text-decoration: none" href="{{url_edit}}{{message.applyId}}"
                               target="_blank">更换销售职员</a>
                        </button>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 noPadding">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center noPadding" style="position: relative">
                        <button type="button" ng-click="agree(message.id)" class="btn-blue"
                                id="change_bank">通过
                        </button>
                    </div>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 noPadding">
                    <div class="col-sm-12 col-md-12 col-lg-12 noPadding" style="position: relative">
                        <button type="button" ng-click="show_alert($index)" class="btn-blue fr">驳回
                        </button>
                        <div class="account-p-bank"
                             style="border: 1px solid #4c4c4c;width: 300px;height: 160px;left: -240px"
                             ng-show="showRefuse[$index]">
                            <p>驳回</p>
                            <div class="form-group col-sm-12 col-md-12 col-lg-12 ">
                                <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0;margin-top: 10px">
                                    <input type="text" style="padding: 0; text-indent:10px;" class="form-control"
                                           ng-model="reason_refuse" placeholder="驳回原因">
                                </div>
                            </div>
                            <button class="btn btn-blue margin-left15" type="submit"
                                    ng-click="refuse(message.id,$index,reason_refuse)">确定
                            </button>
                            <button class="btn btn-blue margin-left15" type="submit"
                                    ng-click="cancel($index)">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p style="width: 100%;height: 45px;" ng-repeat="message in result_list">
            <span ng-hide="message.readTime" style="color: #f97383">{{message.content}}</span>
            <span ng-show="message.readTime">{{message.content}}</span>
            <a href="{{url_detail}}{{message.map.applyId}}" ng-mouseenter="to_company_message(message.id)"
               target="_blank" style="padding: 0 10px">{{message.urlName}}</a>
            <span class="fr">{{message.sendTime | date:'yyyy.mm.dd'}}</span>
        </p>
    </div>
    <div style="position: fixed; bottom: 0">
        <span style="display: inline-block;height: 34px;line-height: 34px;vertical-align: top;padding: 0 20px">共有{{page.totalCount || 0}}家企业申请，每页显示{{page.pageSize || 0}}条</span>
        <ul class="pagination" style="margin: 0">
            <li>
                <a aria-label="Previous" ng-click="changePage(1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a aria-label="Previous" ng-click="changePage(page.upPage)">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>
            <li><a>{{page.pageNo || 0}}</a></li>
            <li>
                <a aria-label="Next" ng-click="changePage(page.nextPage)">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
            <li>
                <a aria-label="Next" ng-click="changePage(page.totalPage)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>