<div class="content-no-side">
    <div class="content-title">
        <span>{{userName}}的项目</span>
        <button class="btn btn-grey fr" ng-click="go_sale_manage()" type="submit"><img
                class="btn-greyImg">返回
        </button>
    </div>
    <div class="content-search">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-none">
            <input type="text" class="form-control" placeholder="搜索企业名称" ng-model="search_text">
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1">
            <button class="btn btn-blue" ng-click="search()" type="button">搜索</button>
        </div>
    </div>
    <li class="list-title">
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-none">
            <span class="col-xs-5 col-sm-5 col-md-5 col-lg-5">企业名称或个人</span>
            <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">预计时间</span>
            <span class="col-xs-5 col-sm-5 col-md-5 col-lg-5">留言</span>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-none">
            <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4">申请产品</span>
            <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">服务费（元）</span>
            <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">融资额（万）</span>
            <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">项目来源</span>
        </div>
    </li>
    <ul class="list-group list-ul list-ul-height-2">
        <li class="list-title-count">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-none">
                <span class="col-xs-5 col-sm-5 col-md-5 col-lg-5">全部{{count.total}}</span>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-none">
            <span class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 text-center">
                {{count.fee}}
            </span>
                <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">{{count.loanValue}}</span>
            </div>
        </li>
        <div class="line-roll">
            <div class="list-out">
                <li class="list-group-item list-common" ng-repeat="resultObj in result_list">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-none">
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-none">
                            <p class="company-overflow fl">
                                <input type="checkbox" style="margin-right: 10px" id="{{resultObj.id}}"
                                       ng-checked="isSelected(resultObj.id)"
                                       ng-click="updateSelection($event,resultObj.id)">
                                <a href="{{url_detail}}{{resultObj.id}}" target="_blank" class="link-pointer">
                                    {{resultObj.companyName || resultObj.linkman}}
                                </a>
                            </p>
                            <img src="img/tips/day_red.png" class="img-size" ng-show="resultObj.timeOver > 10">
                            <img src="img/tips/day_yellow.png" class="img-size"
                                 ng-show="resultObj.timeOver > 7 &&resultObj.timeOver <= 10">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 padding-none text-center" style="margin-top: -8px">
                            <span class="col-lg-12 col-md-12 col-sm-12">{{resultObj.endDate |date:'yyyy-MM-dd'}}</span>
                            <span>{{resultObj.endDate |date:'HH:mm'}}</span>
                            <span ng-hide="resultObj.endDate">&nbsp;</span>
                        </div>
                        <span class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-none" title="{{resultObj.comment}}"
                              style="padding-right: 10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                            {{resultObj.comment}}</span>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-none">
                        <span class="col-sm-4 col-md-4 col-lg-4">
                            <span ng-show="resultObj.bankName">{{resultObj.bankName}}-</span>
                            {{resultObj.productName}}</span>
                        <span class="col-sm-3 col-md-3 col-lg-3 text-center">{{resultObj.fee||"无"}}</span>
                        <span class="col-sm-2 col-md-2 col-lg-2 text-center">{{resultObj.loanValue||"无"}}</span>
                        <span class="col-sm-2 col-md-2 col-lg-2 text-right">{{resultObj.createUserName||"无"}}
                            <img src="img/tips/tel.png" class="img-size" ng-show="resultObj.channel =='tel'">
                            <img src="img/tips/bankMan.png" class="img-size" ng-show="resultObj.channel =='a'">
                            <img src="img/tips/manager.png" class="img-size"
                                 ng-show="resultObj.channel =='zrh_manager'">
                            <img src="img/tips/channel.png" class="img-size" ng-show="resultObj.channel =='c'">
                            <img src="img/tips/zrh.png" class="img-size" ng-show="resultObj.channel =='zrh'">
                        </span>
                    </div>
                </li>
            </div>
        </div>
        <li class="list-bottom">
            <span>共有{{page.totalCount || 0}}家企业申请，每页显示{{page.pageSize || 0}}条</span>
            <ul class="pagination fr" style="margin: 0">
                <li>
                    <a aria-label="Previous" ng-click="changePage(1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Previous" ng-click="changePage(page.upPage)">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <li><a>{{page.pageNo}}</a></li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.nextPage)">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.totalPage)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>