<div class="content">
    <div class="contentTitle width100">
        <span>{{userName}}的项目</span>
        <button class="btn btnGrew fr" style="margin-top: 14px" ng-click="go_sale_manage()" type="submit"><img
                class="btnGrewImg">返回
        </button>
    </div>
    <div class="width100">
        <div class="width30">
            <input type="text" class="form-control" placeholder="搜索企业名称" ng-model="search_text">
        </div>
        <div class="width10">
            <button class="btn btnBlue" ng-click="search()" type="button">搜索</button>
        </div>
    </div>

    <ul class="list-group list_ul">
        <div class="row-roll">
            <li class="list_title2">
                <span class="width15">企业名称或个人</span>
                <span class="width15">申请产品</span>
                <div class="btn-group noPadding width8">
                    <div style="cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        状态({{status_text}}) <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu" style="width: 100px">
                        <li ng-click="choice(1)" class="list_select">申请中</li>
                        <li ng-click="choice(2)" class="list_select">约见中</li>
                        <li ng-click="choice(3)" class="list_select">跟进中</li>
                        <li ng-click="choice(4)" class="list_select">成功融资</li>
                        <li ng-click="choice()" class="list_select">全部</li>
                    </ul>
                </div>
                <span class="width8">销售职员</span>
                <span class="width8">预计完成时间</span>
                <span class="width8">服务费（%）</span>
                <span class="width8">融资额（万）</span>
                <span class="width8">年销售额（万）</span>
                <span class="width8">项目来源</span>
                <span class="width8">备注</span>
            </li>
            <li class="list_title3">
                <span class="width15">全部{{count.total}}/已分配{{count.isOp}}/未分配{{count.noOp}}</span>
                <span class="width15"></span>
                <span class="width8"></span>
                <span class="width8"></span>
                <span class="width8"></span>
                <span class="width8">{{count.fee||"无"}}</span>
                <span class="width8">{{count.loanValue||"无"}}</span>
                <span class="width8">{{count.continual||"无"}}</span>
                <span class="width8"></span>
                <span class="width8"></span>
            </li>
            <div class="line-roll">
                <li class="list-group-item list_common2" ng-repeat="resultObj in result_list">
                 <span class="width15">
            <input type="checkbox" style="margin-right: 10px" id="{{resultObj.id}}"
                   ng-checked="isSelected(resultObj.id)"
                   ng-click="updateSelection($event,resultObj.id)">
                    <a ng-click="updateApply(resultObj.id)"
                       style="cursor: pointer;vertical-align: middle;">
                        {{resultObj.companyName || resultObj.linkman}}
                    </a>
                </span>
                    <span class="width15">{{resultObj.bankName}}-{{resultObj.productName}}</span>
                    <span class="width8" style="color: #838383"
                          ng-show="resultObj.color == 1">{{resultObj.progressText}}</span>
                    <span class="width8" style="color: #F97383"
                          ng-show="resultObj.color == 2">{{resultObj.progressText}}</span>
                    <span class="width8" style="color: #009B27"
                          ng-show="resultObj.color == 3">{{resultObj.progressText}}</span>
                    <span class="width8">{{resultObj.salerName||"无"}}</span>
                    <span class="width8">{{resultObj.days||"无"}}</span>
                    <span class="width8">{{resultObj.fee||"无"}}</span>
                    <span class="width8">{{resultObj.loanValue||"无"}}</span>
                    <span class="width8">{{resultObj.continual||"无"}}</span>
                    <span class="width8">{{resultObj.continual||"无"}}</span>
                    <span class="width8">{{resultObj.dealRemark||"无"}}</span>
                </li>
            </div>
        </div>
        <li class="list-group-item list_common1">
            <span>共有{{page.totalCount}}家企业申请，每页显示{{page.pageSize}}条</span>
            <ul class="pagination fr" style="margin: 0">
                <li>
                    <a aria-label="Previous" ng-click="changePage(1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Previous" ng-click="changePage(page.upPage)">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <li><a>{{page.pageNo}}</a></li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.nextPage)">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.totalPage)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>