<div class="content">
    <div class="contentTitle width100"><span>销售管理</span></div>
    <div class="width100">
        <div class="width30">
            <input type="text" class="form-control" placeholder="搜索名字或手机号" ng-model="search_text">
        </div>
        <div class="width10">
            <button class="btn btnBlue" ng-click="search()" type="button">搜索</button>
        </div>
    </div>
    <ul class="list-group list_ul">
        <li class="list-group-item list_title">
            <span class="width15">用户名</span>
            <span class="width15">注册电话</span>
            <span class="width15">拥有的项目</span>
            <!--<span class="width15">注册时间</span>-->
        </li>
        <li class="list-group-item list_user" ng-repeat="resultObj in user_list">
                <span class="width15">
                    <input type="checkbox" style="margin-right: 10px" id="{{resultObj.id}}"
                           ng-checked="isSelected(resultObj.id)"
                           ng-click="updateSelection($event,resultObj.id)">{{resultObj.name ||'未填写'}}</span>
            <span class="width15">{{resultObj.mobile}}</span>
            <span class="width15">{{resultObj.count ||'0'}}</span>
            <a href="" ng-click="showDetail(resultObj.id)">查看详情</a>

        </li>
        <li class="list-group-item list_common">
            <button class="contentClass btnGrew" ng-click="cancel()">删除</button>
        </li>
    </ul>
</div>
</div>