<div class="row" ng-class="{true: 'content-open', false: 'content'}[isOpenMenu]">
    <div class="content-title"><span>销售管理</span></div>
    <div class="content-search">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-none">
            <input type="text" class="form-control" placeholder="搜索企业名称" ng-model="search_text">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <button class="btn btn-blue" ng-click="search()" type="button">搜索</button>
        </div>
    </div>
    <li class="list-title" ng-show="list_show == true">
        <span class="col-sm-2 col-md-2 col-lg-2">用户名</span>
        <span class="col-sm-3 col-md-3 col-lg-3 text-center">职位</span>
        <span class="col-sm-3 col-md-3 col-lg-3 text-center">注册电话</span>
        <span class="col-sm-2 col-md-2 col-lg-2 text-center">拥有的项目</span>
        <span class="col-sm-2 col-md-2 col-lg-2 text-right">操作</span>
    </li>
    <ul class="list-group list-ul list-ul-height-1" ng-show="list_show == true">
        <div class="line-roll">
            <div class="list-out">
                <li class="list-group-item list-user" ng-repeat="resultObj in user_list">
                <span class="col-sm-2 col-md-2 col-lg-2">
                    <input type="checkbox" style="margin-right: 10px" id="{{resultObj.id}}"
                           ng-checked="isSelected(resultObj.id)"
                           ng-click="updateSelection($event,resultObj.id)">{{resultObj.name ||'未填写'}}</span>
                    <span class="col-sm-3 col-md-3 col-lg-3 text-center">{{resultObj.position}}</span>
                    <span class="col-sm-3 col-md-3 col-lg-3 text-center">{{resultObj.mobile}}</span>
                    <span class="col-sm-2 col-md-2 col-lg-2 text-center">{{resultObj.count ||'0'}}</span>
                    <a class="col-sm-2 col-md-2 col-lg-2 padding-none text-right link-pointer"
                       ng-click="showDetail(resultObj.id)">查看详情</a>
                </li>
            </div>
        </div>
        <li class="list-bottom">
            <button class="content-btn" ng-click="cancel()">删除</button>
        </li>
    </ul>

    <li class="list-title" ng-show="list_show == false">
        <span class="col-sm-3 col-md-3 col-lg-3">用户名</span>
        <span class="col-sm-4 col-md-4 col-lg-4 padding-none">企业名</span>
        <span class="col-sm-3 col-md-3 col-lg-3 text-center">操作</span>
    </li>
    <ul class="list-group list-ul list-ul-height-1" ng-show="list_show == false">
        <div class="line-roll">
            <div class="list-out">
                <li class="list-group-item list-user" ng-repeat="company in company_list">
                    <span class="col-sm-3 col-md-3 col-lg-3">{{company.userName}}</span>

                    <div class="col-sm-4 col-md-4 col-lg-4 padding-none">
                        <p class="company-overflow fl">{{company.companyName}}</p>
                        <img src="img/tips/day_red.png" class="img-size" ng-show="resultObj.timeOver > 10">
                        <img src="img/tips/day_yellow.png" class="img-size" ng-show="resultObj.timeOver > 7">
                    </div>
                    <a class="col-sm-3 col-md-3 col-lg-3 text-center link-pointer" href="{{url_detail}}{{company.id}}"
                       target="_blank">查看详情</a>
                </li>
            </div>
        </div>
        <li class="list-bottom">
            <!--<button class="content-btn" ng-click="cancel()">删除</button>-->
        </li>
    </ul>
</div>
</div>