<div class="content-no-side">
    <p class="content-title">
        <span>注册人变更</span>
        <button class="btn-blue fr margin-left15" type="submit" ng-click="change()">确定</button>
        <button class="btn-grey fr" ng-click="backProjectDetail()">返回</button>
    </p>
    <div class="row" style="min-width: 950px">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">企业账号</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="phone" placeholder="本企业的注册电话" ng-model="phone">
                </div>
            </div>
        </form>
    </div>
</div>