<div style="position: absolute;overflow-x:hidden; z-index: 100;width: 100%; height: 100%; padding: 0 15px; background: #ffffff">
    <div class="contentTitle">
        <span>企业详情</span>
        <div class="fr" ng-hide="showBtn == 1" style="margin: 10px">
            <button class="btn btnGrew fr" ng-click="editApply(id)">修改信息</button>
            <button ng-show="isAllot" style="margin-left:15px" class="btn btnGrew fr">已经递交</button>
            <div ng-hide="isAllot" class="btn-group noPadding fr">
                <button style="margin-left:15px" class="btn btnBlue" type="button" ng-click="distribute(id)">递交资料
                </button>
            </div>
            <button class="btnGrew" ng-click="reBackDetails()">返回</button>
            <button class="btnGrew" ng-show="w == true" ng-click="change_company(id)">注册人变更</button>
            <button class="btnGrew" ng-show="status == null || status == 0"
                    ng-click="apply_help(id)">
                帮助申请
            </button>
            <button class="btnGrew" ng-show="status != null && status != 0"
                    ng-click="apply_again(id,registerLinkmanMobile)">更换银行
            </button>
            <!--<button class="btnGrew" ng-click="choice_person(id)">选报卷人</button>-->
        </div>
        <div class="fr" ng-show="showBtn == 1" style="margin: 10px">
            <button class="btnGrew" ng-click="apply(id)">我要处理</button>
            <button class="btn btnGrew fr" ng-click="reBackDetails()">返回</button>
        </div>
    </div>
    <div class="">
        <div class="clear message-panel">
            <div class="fl" style="width: 30%">
                <div class="detailStyle" ng-show="bankName">
                    <span>{{bankName}}</span>
                    <span>{{productName}}</span>
            </div>
                <div class="detailStyle" ng-show="basic.linkmanName">
                    <span>{{basic.linkmanName}}</span>
            </div>
                <div class="detailStyle" ng-show="basic.linkmanMobile">
                    <span>{{basic.linkmanMobile}}</span>
                </div>
                <div class="detailStyle" ng-show="remark">
                    <p class="detailStyleP1 noPadding">备注：</p>
                    <div>{{remark}}</div>
                </div>
            </div>
            <div class="fl" style="margin-top: 10px;width: 30%">
                <p>
                    <span style="color: red">{{progressText||'未申请'}}</span>&nbsp;&nbsp;<span ng-show="days >= 0"
                                                                                             class="fr">预计：{{days}}天</span>
            </p>
                <div class="progress" style="height: 6px">
                    <div class="progress-bar progress-bar-success" style="width: {{jindu}}%;">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
            <div class="fr" style="margin-top: 5px;text-align: right">
                <div class="detailStyle">
                    <span ng-show="basic.loanValue">融资额：{{basic.loanValue}}万</span>
                    <span ng-hide="basic.loanValue">请填写融资额</span>
                    <a class="" style="cursor: pointer" ng-click="add_loan()">修改信息</a>
                </div>
                <div class="detailStyle" style="margin-top: 5px;text-align: right">
                    <span ng-show="basic.fee">服务费：{{basic.fee}}%</span>
                    <span ng-hide="basic.fee">请填写服务费 </span>
                    <a class="" style="cursor: pointer" ng-click="add_fee()">修改信息</a>
                </div>
            </div>
            <div class="add-tips add-loan">
                <div class="form-group">
                    <label for="loan" class="textEnd">融资额：</label>
                    <div style="display: inline-block;width: 200px">
                        <input type="text" class="form-control" style="width: 200px" id="loan"
                               placeholder="融资额(只写数字，默认“万”)"
                               ng-model="loanValue">
                    </div>
                </div>
                <button ng-click="update_loan()" class="btnBlue" style="margin: 0 0 0 140px;">确定</button>
                <button ng-click="cancel_add()" class="btnGrew">取消</button>
            </div>
            <div class="add-tips add-fee">
                <div class="form-group">
                    <label for="fee" class="textEnd">服务费：</label>
                    <div style="display: inline-block;width: 200px">
                        <input type="text" class="form-control" style="width: 200px" id="fee"
                               placeholder="服务费（只写数字，默认%）"
                               ng-model="fee">
                </div>
            </div>
                <button ng-click="update_fee()" class="btnBlue" style="margin: 0 0 0 140px;">确定</button>
                <button ng-click="cancel_add()" class="btnGrew">取消</button>
        </div>
        </div>
        <div class="clear">
            <div class="fl" style="width: 50%;height: 284px;background: #f6f7fd;padding-top: 20px">
                <div style="padding-left: 30px;height: 70px" ng-repeat="message in message_list | limitTo:3">
                    <div class="fl" style="height: 30px;width: 30px">
                        <img style="height: 30px;width: 30px" src="img/recommendl.png" alt="">
                    </div>
                    <div class="fl" style="padding-left: 5px">
                        <p><a href="">{{message.userName}}</a></p>
                        <p>{{message.content}}</p>
                        <p>{{message.createTime | date:'dd.MM.yy hh: mm'}}&nbsp;&nbsp;&nbsp;{{message.statusDesc}}</p>
                    </div>
                </div>
                <a href="" style="padding-left: 30px" ng-click="messages(id)">查看更多留言</a>
            </div>
            <div class="fl" style="width: 50%;height: 284px;background: #eef0fb;padding-top: 20px">
                <textarea class="" style="width: calc(100% - 30px);height: 196px;margin-left: 15px;"
                          ng-model="content"></textarea>
                <p style="text-align: right;padding-right: 15px">
                    <button ng-click="remark_submit()">点击发布</button>
                </p>
            </div>
        </div>
        <p class="createTitle">基本内容</p>
        <div class="detailStyle" ng-show="basic.company_name">
            <p class="detailStyleP1 noPadding">企业全称：</p>
            <div>{{basic.company_name}}</div>
        </div>
        <div class="detailStyle" ng-show="basic.business_type">
            <p class="detailStyleP1 noPadding">企业类型：</p>
            <div>{{basic.business_type}}</div>
        </div>
        <div class="detailStyle" ng-show="basic.legal_representative">
            <p class="detailStyleP1 noPadding">企业法人：</p>
            <div>{{basic.legal_representative}}</div>
        </div>
        <div class="detailStyle" ng-show="basic.register_date">
            <p class="detailStyleP1 noPadding">成立时间：</p>
            <div>{{basic.register_date}}</div>
        </div>
        <div class="detailStyle" ng-show="basic.business_address">
            <p class="detailStyleP1 noPadding">注册地址：</p>
            <div>{{basic.business_address}}</div>
        </div>
        <div class="detailStyle" ng-show="basic.registered_capital">
            <p class="detailStyleP1 noPadding">注册资本：</p>
            <div>{{basic.registered_capital}}万</div>
        </div>
        <div class="detailStyle" ng-show="basic.item_category">
            <p class="detailStyleP1 noPadding">所属行业：</p>
            <div>{{basic.item_category}}</div>
        </div>
        <div class="detailStyle" ng-show="basic.business_scope">
            <p class="detailStyleP1 noPadding">经营范围：</p>
            <div>{{basic.business_scope}}</div>
        </div>
        <div class="detailStyle" ng-show="registerLinkmanMobile">
            <p class="detailStyleP1 noPadding">注册电话：</p>
            <div>{{registerLinkmanName}}</div>
            <div style="padding-left: 90px;margin-top: -10px">{{registerLinkmanMobile}}</div>
        </div>
        <div class="detailStyle" ng-show="basic.linkmanMobile">
            <p class="detailStyleP1 noPadding">联系电话：</p>
            <div>{{basic.linkmanName}}</div>
            <div style="padding-left: 90px;margin-top: -10px">{{basic.linkmanMobile}}</div>
        </div>
        <!--<div class="detailStyle" ng-show="basic.fee">-->
        <!--<p class="detailStyleP1 noPadding">服务费：</p>-->
        <!--<div>{{basic.fee}}</div>-->
        <!--</div>-->
        <!--<div class="detailStyle" ng-show="basic.loanValue">-->
        <!--<p class="detailStyleP1 noPadding">融资额：</p>-->
        <!--<div>{{basic.loanValue}}</div>-->
        <!--</div>-->
        <div class="detailStyle" ng-show="basic.continual">
            <p class="detailStyleP1 noPadding">年销售量：</p>
            <div>{{basic.continual}}</div>
        </div>
        <p class="createTitle">其他类型</p>
        <div class="detailStyle" ng-repeat="template in model_list">
            <p class="detailStyleP1 noPadding">{{template.title}}:</p>
            <div ng-show="template.templateType == 3">
                <img class="applyDetailImg" ng-src="{{list}}" ng-repeat="list in template.imgList">
                <div>{{template.content}}</div>
            </div>
            <div ng-hide="template.templateType == 3">{{template.content}}</div>
        </div>
    </div>
</div>