<div class="content">
    <div class="contentTitle"><span>我的项目</span></div>
    <div class="noPadding width100">
        <div class="noPadding width30">
            <input type="text" class="form-control" placeholder="搜索企业名称" ng-model="search_text">
        </div>
        <div class="width10">
            <button class="btn btnBlue" ng-click="search()" type="button">搜索</button>
        </div>
        <!--<button class="btn fr btnBlue" type="submit"><img class="btnBlueImg">添加企业信息</button>-->
        <button class="btn fr btnGrew" ng-click="refresh()" type="submit"><img class="btnGrewImg"> 刷新</button>
    </div>
    <ul class="list-group list_ul">
        <li class="list-group-item list_title">
            <span class="width25">企业名称</span>
            <span class="width10">申请产品</span>
            <span class="width10">申请时间</span>
            <div class="btn-group noPadding width10">
                <div style="cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    状态({{status_text}}) <span class="caret"></span>
                </div>
                <ul class="dropdown-menu" style="width: 100px">
                    <li ng-click="choice(0)" class="list_select">未申请</li>
                    <li ng-click="choice(1)" class="list_select">审核中</li>
                    <li ng-click="choice(2)" class="list_select">约见中</li>
                    <li ng-click="choice(3)" class="list_select">跟进中</li>
                    <li ng-click="choice(4)" class="list_select">成功融资</li>
                    <li ng-click="choice()" class="list_select">全部</li>
                </ul>
            </div>
            <span class="width10">申请人</span>
            <span class="width10">操作</span>
        </li>
        <li class="list-group-item list_common" ng-repeat="resultObj in result_list">
            <span class="width25">
                <input type="checkbox" style="margin-right: 10px" id="{{resultObj.id}}"
                       ng-checked="isSelected(resultObj.id)"
                       ng-click="updateSelection($event,resultObj.id)">
                {{resultObj.companyName}}</span>
            <span class="width10">{{resultObj.productName}}</span>
            <span class="width10">{{resultObj.applyTime | date:'yyyy-MM-dd'}}</span>
            <span class="width10">{{resultObj.progressText}}</span>
            <span class="width10">{{resultObj.linkman}}</span>
            <div ng-if="resultObj.status == 0" class="width35">
                <button class="btnGrew" ng-click="showDetail(resultObj.id)">补充资料</button>
                <button class="btnGrew" ng-show="resultObj.firstApply == false"
                        ng-click="apply_again(resultObj.id,resultObj.applyMobile)">重新申请
                </button>
                <button class="btnGrew" ng-hide="resultObj.firstApply ==false" ng-click="apply_help(resultObj.id)">
                    帮助申请
                </button>
                <div class="btn-group">
                    <button type="button" class="btnGrew" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        联系企业
                    </button>
                    <ul class="dropdown-menu">
                        <li>{{resultObj.mobile}}</li>
                        <textarea placeholder="备注" ng-model="resultObj.remark"></textarea>
                        <button ng-click="linkCompany(resultObj.id ,resultObj.remark)">确定</button>
                    </ul>
                </div>
            </div>
            <div ng-if="resultObj.status != 0" class="width35">
                <button class="btnGrew" ng-click="showDetail(resultObj.id)">企业信息</button>
                <!--<button class="btnGrew" ng-click="nextStatus(resultObj.id,resultObj.status)">{{resultObj.progressBtn-->
                <!--||'下一步'}}-->
                <!--</button>-->
                <button class="btnGrew" ng-click="cancel(resultObj.id)">取消申请</button>
                <button class="btnGrew" ng-click="giveUp(resultObj.id)">放弃任务</button>
            </div>

        </li>
        <li class="list-group-item list_common">
            <span>共有{{page.totalCount}}家企业申请，每页显示{{page.pageSize}}条</span>
            <ul class="pagination fr" style="margin: 0">
                <li>
                    <a aria-label="Previous" ng-click="changePage(1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Previous" ng-click="changePage(page.upPage)">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <li><a>{{page.pageNo}}</a></li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.nextPage)">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.totalPage)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>