<div class="row" ng-class="{true: 'content-open', false: 'content'}[isOpenMenu]">
    <div class="content-title"><span>企业信息列表</span></div>
    <div class="content-search">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-none">
            <input type="text" class="form-control" placeholder="搜索企业名称" ng-model="search_text">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <button class=" btn-blue" ng-click="search()" type="button">搜索</button>
        </div>
        <button class="btn-grey fr" ng-click="refresh()" type="submit"><img class="btn-greyImg"> 刷新</button>
    </div>
    <li class="list-title">
        <!--<span class="col-xs-4 col-lg-4 col-md-4">企业名称或个人</span>-->
        <!--<span class="col-xs-3 col-lg-3 col-md-3">申请产品</span>-->
        <!--<span class="col-xs-2 col-lg-2 col-md-2 text-center">申请时间</span>-->
        <!--<div class="btn-group col-lg-1 col-md-1 col-lg-offset-2 col-md-offset-2 padding-none text-right">-->
        <!--<div class="link-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--状态({{status_text}}) <span class="caret"></span>-->
        <!--</div>-->
        <!--<ul class="dropdown-menu fr">-->
        <!--<li ng-click="choice(0)" class="list-select">未申请</li>-->
        <!--<li ng-click="choice(1)" class="list-select">准备中</li>-->
        <!--<li ng-click="choice(2)" class="list-select">下户</li>-->
        <!--<li ng-click="choice(3)" class="list-select">审批中</li>-->
        <!--<li ng-click="choice(4)" class="list-select">审批通过</li>-->
        <!--<li ng-click="choice(5)" class="list-select">开户</li>-->
        <!--<li ng-click="choice(6)" class="list-select">放款</li>-->
        <!--<li ng-click="choice(7)" class="list-select">成功融资</li>-->
        <!--<li ng-click="choice()" class="list-select">全部</li>-->
        <!--</ul>-->
        <!--</div>-->
    </li>
    <ul class="list-group list-ul list-ul-height-1">
        <div class="line-roll">
            <div class="list-out">
                <li class="list-group-item list-common" ng-repeat="resultObj in result_list">
                    <!--<div class="col-xs-4 col-lg-4 col-md-4 padding-none">-->
                    <!--<p class="company-overflow fl">-->
                    <!--<input type="checkbox" id="{{resultObj.id}}" ng-checked="isSelected(resultObj.id)"-->
                    <!--ng-click="updateSelection($event,resultObj.id)">-->
                    <!--{{resultObj.companyName || resultObj.linkman}}-->
                    <!--</p>-->
                    <!--<img src="img/tips/tel.png" class="img-size" ng-show="resultObj.channel =='tel'">-->
                    <!--<img src="img/tips/bankMan.png" class="img-size" ng-show="resultObj.channel =='a'">-->
                    <!--<img src="img/tips/manager.png" class="img-size" ng-show="resultObj.channel =='zrh_manager'">-->
                    <!--<img src="img/tips/channel.png" class="img-size" ng-show="resultObj.channel =='c'">-->
                    <!--<img src="img/tips/zrh.png" class="img-size" ng-show="resultObj.channel =='zrh'">-->
                    <!--</div>-->
                    <!--<span class="col-xs-3 col-lg-3 col-md-3">{{resultObj.bankName ||'未申请'}} <span-->
                    <!--ng-show="resultObj.bankName">-</span>{{resultObj.productName}}</span>-->
                    <!--<span class="col-xs-2 col-lg-2 col-md-2 text-center">{{resultObj.applyTime | date:'yyyy-MM-dd'}}</span>-->
                    <!--<span class="col-xs-3 col-lg-3 col-md-3 text-right" style="color: #838383"-->
                    <!--ng-show="resultObj.color == 1">{{resultObj.progressText}}</span>-->
                    <!--<span class="col-xs-3 col-lg-3 col-md-3 text-right" style="color: #F97383"-->
                    <!--ng-show="resultObj.color == 2">{{resultObj.progressText}}</span>-->
                    <!--<span class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right" style="color: #009B27"-->
                    <!--ng-show="resultObj.color == 3">{{resultObj.progressText}}</span>-->
                </li>
            </div>

        </div>
        <li class="list-bottom">
            <button class="content-btn" ng-click="delete()">删除</button>
            <span>共有{{page.totalCount}}家企业申请，每页显示{{page.pageSize}}条</span>
            <ul class="pagination fr" style="margin: 0">
                <li>
                    <a aria-label="Previous" ng-click="changePage(1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Previous" ng-click="changePage(page.upPage)">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <li><a ng-click="changePage(page.pageNo)">{{page.pageNo}}</a></li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.nextPage)">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.totalPage)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>