<div class="detail-container">
    <div class="content-title">
        <!--<span>公司信息</span>-->
        <span>{{ companyName }} &nbsp;&nbsp; {{ province }} &nbsp;&nbsp; {{ city }} {{ district }}</span>
        <div class="fr">
            <button class="btn btn-grey fr">
                <a ui-sref="super.company({'page':companyParams.page, 'wd':companyParams.wd})">返回</a>
            </button>
        </div>
    </div>
    <div ng-show="gongshangInfo.registerNum">
        <p class="create-title">工商信息</p>
        <div class="detail-style row" ng-show="gongshangInfo.registerNum">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">注册号/统一社会信用代码：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.registerNum}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.type">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">公司类型：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.type}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.address">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">地址：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.address}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.faren">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">法人：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.faren}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.createTime">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">成立日期：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.createTime}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.yyqxZi">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">营业期限自：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.yyqxZi}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.yyqxZhi">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">营业期限至：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.yyqxZhi}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.jyfw">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">经营范围：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.jyfw}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.djjg">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">登记机关：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.djjg}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.hzrq">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">核准日期：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.hzrq}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.status">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">登记状态：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.status}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.zczj">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">注册资金：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.zczj}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.tzrName">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">投资人姓名：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.tzrName}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.dxTime">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">吊销日期：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.dxTime}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.fzr">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">负责人：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.fzr}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.fzTime">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">发着日期：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.fzTime}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.bjgslrq">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">本机构设立日期：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.bjgslrq}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.zxswhhr">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">执行事务合伙人：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.zxswhhr}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.zxswhhrWpdb">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">执行事务合伙人(委派代表)：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.zxswhhrWpdb}}</div>
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.sxdbrxx">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">首席代表人姓名：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.sxdbrxx}}</div>  <!--xx --- xm-->
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.gd">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">股东：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.gd}}</div>  <!--xx --- xm-->
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.zcxs">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">组成形式：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.zcxs}}</div>  <!--xx --- xm-->
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.jjxz">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">经济性质：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.jjxz}}</div>  <!--xx --- xm-->
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.zzqxz">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">驻在期限自：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.zzqxz}}</div>  <!--xx --- xm-->
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.pcqyMc">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">派出企业名称：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.pcqyMc}}</div>  <!--xx --- xm-->
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.pcqyZcd">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">派出企业注册地：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.pcqyZcd}}</div>  <!--xx --- xm-->
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.gj">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">国籍：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.gj}}</div>  <!--xx --- xm-->
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.lsqy">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">隶属企业：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.lsqy}}</div>  <!--xx --- xm-->
        </div>
        <div class="detail-style row" ng-show="gongshangInfo.jyfwxxbz">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">经营范围项下标注：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{gongshangInfo.jyfwxxbz}}</div>  <!--xx --- xm-->
        </div>
    </div>

    <div ng-show="shuiwuInfo.swdjzh">
        <p class="create-title">税务信息</p>
        <div class="detail-style row" ng-show="shuiwuInfo.swdjzh">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">税务登记证号：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.swdjzh}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.swdjlx">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">税务登记类型：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.swdjlx}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.djsllx">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">登记受理类型：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.djsllx}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.jydz">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">经营地址：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.jydz}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.scjx">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">所处街乡：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.scjx}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.gdsgghbs">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">国地税共管户标识：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.gdsgghbs}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.lsgx">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">隶属关系：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.lsgx}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.gjbzhy">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">国家标准行业：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.gjbzhy}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.swdjrq">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">税务登记日期：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.swdjrq}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.zgswjg">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">主管税务机关：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.zgswjg}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.nsrStatus">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">纳税人状态：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.nsrStatus}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.nsrName">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">纳税人名称：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.nsrName}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.yb">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">经营地址邮编：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.yb}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.jydzPhone">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">经营地址联系电话：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.jydzPhone}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.zch">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">注册号：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.zch}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.zzjgdm">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">住址机构代码：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.zzjgdm}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.djzclx">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">登记注册类型：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.djzclx}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.qyzywz">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">企业主页网址：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.qyzywz}}</div>
        </div>
        <div class="detail-style row" ng-show="shuiwuInfo.faren">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">法人名称：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{shuiwuInfo.faren}}</div>
        </div>
    </div>

    <div ng-show="zibenInfo.zczb">
        <p class="create-title">资本信息</p>
        <div class="detail-style row" ng-show="zibenInfo.zczb">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">注册资本：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{zibenInfo.zczb}}</div>
        </div>
        <div class="detail-style row" ng-show="zibenInfo.sszb">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">实收资本：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{zibenInfo.sszb}}</div>
        </div>
        <div class="detail-style row" ng-show="zibenInfo.zjczje">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">实缴出资金额：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{zibenInfo.zjczje}}</div>
        </div>
        <div class="detail-style row" ng-show="zibenInfo.zzsjczsj">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">最终实缴出资时间：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{zibenInfo.zzsjczsj}}</div>
        </div>
        <div class="detail-style row" ng-show="zibenInfo.zzrjczsj">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">最终认缴出资时间：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{zibenInfo.zzrjczsj}}</div>
        </div>
    </div>

    <div ng-show="zhuyaorenyuanInfo.length > 0">
        <p class="create-title">主要人员信息</p>
        <table class="table table-hover">
            <tr>
                <td>姓名</td>
                <td>职位</td>
                <td>性别</td>
            </tr>
            <tr ng-repeat="item in zhuyaorenyuanInfo">
                <td>{{ item.name }}</td>
                <td>{{ item.position }}</td>
                <td>{{ item.sex }}</td>
            </tr>
        </table>
    </div>

    <div ng-show="touzirenInfo.length > 0">
        <p class="create-title">投资人信息</p>
        <table class="table table-hover">
            <tr>
                <td>投资人名称</td>
                <td>投资人类型</td>
                <td>证照类型</td>
                <td>证照号码</td>
            </tr>
            <tr ng-repeat="item in touzirenInfo">
                <td>{{ item.tzrName }}</td>
                <td>{{ item.tzrType }}</td>
                <td>{{ item.zzType }}</td>
                <td>{{ item.zzNum }}</td>
            </tr>
        </table>
    </div>

    <div ng-show="zzjgdmInfo.dmzbfjg">
        <p class="create-title">组织机构代码信息</p>
        <div class="detail-style row" ng-show="zzjgdmInfo.dmzbfjg">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">代码证颁发机构：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{zzjgdmInfo.dmzbfjg}}</div>
        </div>
        <div class="detail-style row" ng-show="zzjgdmInfo.zzjgdm">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">组织机构代码：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{zzjgdmInfo.zzjgdm}}</div>
        </div>
    </div>


    <div ng-show="zaitouziInfo.length > 0">
        <p class="create-title">再投资信息</p>
        <table class="table table-hover">
            <tr>
                <td>投资设立企业或购买股权企业名称</td>
                <td>注册号/统一社会信用代码</td>
                <td>法人</td>
                <td>地址</td>
            </tr>
            <tr ng-repeat="item in zaitouziInfo">
                <td>{{ item.companyName }}</td>
                <td>{{ item.registerNum }}</td>
                <td>{{ item.faren }}</td>
                <td>{{ item.address }}</td>
            </tr>
        </table>
    </div>

    <div ng-show="chuzilishiInfo.length > 0">
        <p class="create-title">出资历史信息</p>
        <table class="table table-hover">
            <tr>
                <td>投资人姓名</td>
                <td>投资人类型</td>
                <td>认缴出资金额（万元）</td>
                <td>认缴出资方式</td>
                <td>认缴出资时间</td>
                <td>实缴出资金额（万元）</td>
                <td>实缴出资方式</td>
                <td>实缴出资时间</td>
            </tr>
            <tr ng-repeat="item in chuzilishiInfo">
                <td>{{ item.tzrName }}</td>
                <td>{{ item.tzrType }}</td>
                <td>{{ item.rjczPrice }}</td>
                <td>{{ item.rjczType }}</td>
                <td>{{ item.rjczTime }}</td>
                <td>{{ item.rjczPrice }}</td>
                <td>{{ item.rjczType }}</td>
                <td>{{ item.rjczTime }}</td>
            </tr>
        </table>
    </div>

    <div ng-show="qiyenianbaoInfo.length > 0">
        <p class="create-title">企业年报</p>
        <div ng-repeat="item in qiyenianbaoInfo">

            <div ng-show="item.companyBaseInfo.registerNum">
                <p class="company-nb-title">企业基本信息</p>
                <div class="detail-style row" ng-show="item.companyBaseInfo.registerNum">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">注册号/同意社会信用代码：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.companyBaseInfo.registerNum}}</div>
                </div>
                <div class="detail-style row" ng-show="item.companyBaseInfo.companyName">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">企业名称：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.companyBaseInfo.companyName}}</div>
                </div>
                <div class="detail-style row" ng-show="item.companyBaseInfo.phone">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">联系电话：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.companyBaseInfo.phone}}</div>
                </div>
                <div class="detail-style row" ng-show="item.companyBaseInfo.zipcode">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">邮政编码：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.companyBaseInfo.zipcode}}</div>
                </div>
                <div class="detail-style row" ng-show="item.companyBaseInfo.address">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">企业通信地址：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.companyBaseInfo.address}}</div>
                </div>
                <div class="detail-style row" ng-show="item.companyBaseInfo.email">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">电子邮箱：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.companyBaseInfo.email}}</div>
                </div>
                <div class="detail-style row" ng-show="item.companyBaseInfo.isGqzr">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">有限公司本年度是否发生股东股权转让：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.companyBaseInfo.isGqzr}}</div>
                </div>
                <div class="detail-style row" ng-show="item.companyBaseInfo.status">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">企业经营状态：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.companyBaseInfo.status}}</div>
                </div>
                <div class="detail-style row" ng-show="item.companyBaseInfo.isHaveWebsite">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">是否有网站或网店：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.companyBaseInfo.isHaveWebsite}}</div>
                </div>
                <div class="detail-style row" ng-show="item.companyBaseInfo.isHaveTzxx">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">是否有投资信息或购买其他公司股权：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.companyBaseInfo.isHaveTzxx}}</div>
                </div>
                <div class="detail-style row" ng-show="item.companyBaseInfo.poeopleNum">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">从业人数：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.companyBaseInfo.poeopleNum}}</div>
                </div>
            </div>

            <div ng-show="item.qyzczkInfo.zczr">
                <p class="company-nb-title">企业资产状况信息</p>
                <div class="detail-style row" ng-show="item.qyzczkInfo.zczr">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">资产总额：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.qyzczkInfo.zczr}}</div>
                </div>
                <div class="detail-style row" ng-show="item.qyzczkInfo.syzqyhj">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">所有者权益合计：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.qyzczkInfo.syzqyhj}}</div>
                </div>
                <div class="detail-style row" ng-show="item.qyzczkInfo.zczr">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">资产总额：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.qyzczkInfo.zczr}}</div>
                </div>
                <div class="detail-style row" ng-show="item.qyzczkInfo.lrze">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">利润总额：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.qyzczkInfo.lrze}}</div>
                </div>
                <div class="detail-style row" ng-show="item.qyzczkInfo.yyzsrzzyywsr">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">营业总收入中主营业务收入：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.qyzczkInfo.yyzsrzzyywsr}}</div>
                </div>
                <div class="detail-style row" ng-show="item.qyzczkInfo.jlr">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">净利润：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.qyzczkInfo.jlr}}</div>
                </div>
                <div class="detail-style row" ng-show="item.qyzczkInfo.nsze">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">纳税总额：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.qyzczkInfo.nsze}}</div>
                </div>
                <div class="detail-style row" ng-show="item.qyzczkInfo.fzze">
                    <p class="col-sm-2 col-md-2 col-lg-2 text-right">负债总额：</p>
                    <div class="col-sm-10 col-md-10 col-lg-10">{{item.qyzczkInfo.fzze}}</div>
                </div>
            </div>

            <div ng-show="item.dwtgdbInfoList.length > 0">
                <p class="company-nb-title">对外提供保证担保信息</p>
                <table class="table table-hover">
                    <tr>
                        <td>债权人</td>
                        <td>债务人</td>
                        <td>主债权种类</td>
                        <td>主债权数额</td>
                        <td>履行债务的期限</td>
                        <td>保证的期间</td>
                        <td>保证的方式</td>
                        <td>保证担保的范围</td>
                    </tr>
                    <tr ng-repeat="dbxx in item.dwtgdbInfoList">
                        <td>{{ dbxx.zqr }}</td>
                        <td>{{ dbxx.zwr }}</td>
                        <td>{{ dbxx.zzqzl }}</td>
                        <td>{{ dbxx.zzqse }}</td>
                        <td>{{ dbxx.lxzwdqx }}</td>
                        <td>{{ dbxx.bzdqj }}</td>
                        <td>{{ dbxx.bzdfs }}</td>
                        <td>{{ dbxx.bzdbdfw }}</td>
                    </tr>
                </table>
            </div>

            <div ng-show="item.dwtzInfoList.length > 0">
                <p class="company-nb-title">对外提供保证担保信息</p>
                <table class="table table-hover">
                    <tr>
                        <td>投资人设立企业或购买股权企业名称</td>
                        <td>注册号/统一社会信用代码</td>
                    </tr>
                    <tr ng-repeat="dwtz in item.dwtzInfoList">
                        <td>{{ dwtz.companyName }}</td>
                        <td>{{ dwtz.registerNum }}</td>
                    </tr>
                </table>
            </div>

            <div ng-show="item.gdbgInfoList.length > 0">
                <p class="company-nb-title">股东变更</p>
                <table class="table table-hover">
                    <tr>
                        <td>股东</td>
                        <td>变更前股权比例</td>
                        <td>变更后股权比例</td>
                        <td>股权变更日期</td>
                    </tr>
                    <tr ng-repeat="gdbg in item.gdbgInfoList">
                        <td>{{ gdbg.gd }}</td>
                        <td>{{ gdbg.bgqbl }}</td>
                        <td>{{ gdbg.bghbl }}</td>
                        <td>{{ gdbg.bgrq }}</td>
                    </tr>
                </table>
            </div>

            <div ng-show="item.gdczInfoList.length > 0">
                <p class="company-nb-title">股东及出资信息</p>
                <table class="table table-hover">
                    <tr>
                        <td>投资人名称</td>
                        <td>认缴出资金额（万元）</td>
                        <td>认缴出资方式</td>
                        <td>认缴出资时间</td>
                        <td>实缴出资金额（万元）</td>
                        <td>实缴出资方式</td>
                        <td>实缴出资时间</td>
                    </tr>
                    <tr ng-repeat="gdcz in item.gdczInfoList">
                        <td>{{ gdcz.gdName }}</td>
                        <td>{{ gdcz.rjczPrice }}</td>
                        <td>{{ gdcz.rjczType }}</td>
                        <td>{{ gdcz.rjczTime }}</td>
                        <td>{{ sdcz.rjczPrice }}</td>
                        <td>{{ sdcz.rjczType }}</td>
                        <td>{{ sdcz.rjczTime }}</td>
                    </tr>
                </table>
            </div>

            <div ng-show="item.gdbgInfoList.length > 0">
                <p class="company-nb-title">网站或网店信息</p>
                <table class="table table-hover">
                    <tr>
                        <td>类型</td>
                        <td>名称</td>
                        <td>网址</td>
                    </tr>
                    <tr ng-repeat="gdbg in item.gdbgInfoList">
                        <td>{{ gdbg.type }}</td>
                        <td>{{ gdbg.name }}</td>
                        <td>{{ gdbg.domain }}</td>
                    </tr>
                </table>
            </div>

            <div ng-show="item.xgjlInfoList.length > 0">
                <p class="company-nb-title">修改记录</p>
                <table class="table table-hover">
                    <tr>
                        <td>修改事项</td>
                        <td>修改前</td>
                        <td>修改后</td>
                        <td>修改日期</td>
                    </tr>
                    <tr ng-repeat="xgjl in item.xgjlInfoList">
                        <td>{{ xgjl.xgsx }}</td>
                        <td>{{ xgjl.xgq }}</td>
                        <td>{{ xgjl.xgh }}</td>
                        <td>{{ xgjl.xgrq }}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <div ng-show="jobInfo.length > 0">
        <p class="create-title">招聘信息</p>
        <table class="table table-hover">
            <tr>
                <td>职位名称</td>
                <td>区域</td>
                <td>职位描述</td>
            </tr>
            <tr ng-repeat="item in jobInfo">
                <td>{{ item.position }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.positionIntroduce }}</td>
            </tr>
        </table>
    </div>

    <div ng-show="extendInfo">
        <p class="create-title">拓展信息</p>
        <div class="detail-style row" ng-show="extendInfo.introduce.length > 0">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">公司描述：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <table class="table table-bordered">
                    <tr>
                        <td>来源</td>
                        <td>内容</td>
                        <td>存储时间</td>
                    </tr>
                    <tr ng-repeat="item in extendInfo.introduce">
                        <td>{{ item.from }}</td>
                        <td>{{ item.content }}</td>
                        <td>{{ item.time }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="detail-style row" ng-show="extendInfo.address.length > 0">
            <p class="col-sm-2 col-md-2 col-lg-2 text-right">公司地址：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <table class="table table-bordered">
                    <tr>
                        <td>来源</td>
                        <td>内容</td>
                        <td>存储时间</td>
                    </tr>
                    <tr ng-repeat="item in extendInfo.address">
                        <td>{{ item.from }}</td>
                        <td>{{ item.content }}</td>
                        <td>{{ item.time }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="detail-style row" ng-show="extendInfo.people.length > 0">
        <p class="col-sm-2 col-md-2 col-lg-2 text-right">公司规模：</p>
        <div class="col-sm-10 col-md-10 col-lg-10">
            <table class="table table-bordered">
                <tr>
                    <td>来源</td>
                    <td>内容</td>
                    <td>存储时间</td>
                </tr>
                <tr ng-repeat="item in extendInfo.people">
                    <td>{{ item.from }}</td>
                    <td>{{ item.content }}</td>
                    <td>{{ item.time }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="detail-style row" ng-show="extendInfo.website.length > 0">
        <p class="col-sm-2 col-md-2 col-lg-2 text-right">公司网站：</p>
        <div class="col-sm-10 col-md-10 col-lg-10">
            <table class="table table-bordered">
                <tr>
                    <td>来源</td>
                    <td>内容</td>
                    <td>存储时间</td>
                </tr>
                <tr ng-repeat="item in extendInfo.website">
                    <td>{{ item.from }}</td>
                    <td>{{ item.content }}</td>
                    <td>{{ item.time }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="detail-style row" ng-show="extendInfo.phone.length > 0">
        <p class="col-sm-2 col-md-2 col-lg-2 text-right">公司网站：</p>
        <div class="col-sm-10 col-md-10 col-lg-10">
            <table class="table table-bordered">
                <tr>
                    <td>来源</td>
                    <td>内容</td>
                    <td>存储时间</td>
                </tr>
                <tr ng-repeat="item in extendInfo.phone">
                    <td>{{ item.from }}</td>
                    <td>{{ item.content }}</td>
                    <td>{{ item.time }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<p class="create-title" ng-show="model_list.length > 0">其他信息</p>
    <div class="detail-style row" ng-repeat="template in model_list">
        <p class="col-sm-2 col-md-2 col-lg-2 text-right">{{template.title}}:</p>
        <div class="col-sm-10 col-md-10 col-lg-10"
             ng-hide="template.templateType == 3">{{template.content}}
        </div>
        <div ng-show="template.templateType == 3" class="col-sm-10 col-md-10 col-lg-10">
            <a href="{{list}}" target="_blank" class="apply-detail-link" ng-repeat="list in template.imgList">
                <img class="apply-detail-img" ng-src="{{list}}">
            </a>
            <div>{{template.content}}</div>
        </div>
    </div>
</div>