<div class="content-detail">
    <div class="content-title">
        <span>企业详情</span>
        <div class="fr" ng-show="isOp == true && readonly == false">
            <button class="btn-grey fr" ng-click="editApply(id)">修改信息</button>
            <button ng-show="isAllot" class="btn-grey margin-left15 fr">已经递交</button>
            <div ng-hide="isAllot" class="btn-group noPadding fr">
                <button class="btn-blue margin-left15" type="button" ng-click="distribute(id)">递交资料
                </button>
            </div>
            <button class="btn-grey" ng-show="w == true" ng-click="change_register(id)">注册人变更</button>
            <button class="btn-grey" ng-click="stopped(id)">中止项目</button>
            <button class="btn-grey" ng-show="status == null || status == 0"
                    ng-click="apply_help(id)">
                帮助申请
            </button>
            <button class="btn-grey" ng-show="status != null && status != 0"
                    ng-click="change_bank(id,registerLinkmanMobile)">更换银行
            </button>
            <button class="btn-grey" ng-show="role_class.role == 'manager'"
                    ng-click="choice_sale(id)">选销售职员
            </button>
        </div>
        <div class="fr" ng-show="isOp == false">
            <button class="btn-grey" ng-click="apply()">我要处理</button>
        </div>
        <div class="fr" ng-show="isOp == true && readonly == true">
        </div>
    </div>
    <div>
        <div class="message-panel clear">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="detailStyle" ng-show="bankName">
                    <span>{{bankName}}</span>
                    <span>{{productName}}</span>
                </div>
                <div class="detailStyle noPadding" ng-show="basic.linkmanName">
                    <span>{{basic.linkmanName}}</span>
                </div>
                <div class="detailStyle noPadding" ng-show="basic.linkmanMobile">
                    <span>{{basic.linkmanMobile}}</span>
                </div>
                <div class="detailStyle" ng-show="remark">
                    <p class="detailStyleP1 noPadding">备注：</p>
                    <div>{{remark}}</div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <p style="margin-top: 10px;">
                    <span style="color: red">{{progressText||'未申请'}}</span>&nbsp;&nbsp;
                    <span ng-show="days >= 0 && status !=4 && status != 0 && status != 1" class="fr">预计：{{days}}天</span>
                </p>
                <div class="progress">
                    <div class="progress-bar progress-bar-after" style="width:{{jindu}}%;">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 text-right" ng-show="show_btn == 'my_project' && readonly == false">
                <div class="detailStyle">
                    <span ng-show="basic.loanValue">融资额：{{basic.loanValue}}万</span>
                    <span ng-hide="basic.loanValue">请填写融资额</span>
                    <a class="list-a-point" ng-show="basic.loanValue" ng-click="add_loan(1)">修改</a>
                    <a class="list-a-point" ng-hide="basic.loanValue" ng-click="add_loan(2)">填写</a>
                </div>
                <div class="detailStyle text-right">
                    <span ng-show="basic.fee">服务费：{{basic.fee}}%</span>
                    <span ng-hide="basic.fee">请填写服务费 </span>
                    <a class="list-a-point" ng-show="basic.fee" ng-click="add_fee(3)">修改</a>
                    <a class="list-a-point" ng-hide="basic.fee" ng-click="add_fee(4)">填写</a>
                </div>
            </div>
            <div class="add-tips add-loan">
                <div class="form-group" style="height: 35px">
                    <label for="loan" class="col-sm-3 col-md-3 col-lg-3 noPadding textEnd">融资额：</label>
                    <div class="col-sm-9 col-md-9 col-lg-9 noPadding">
                        <input type="text" class="form-control col-sm-8 col-md-8 col-lg-8" id="loan"
                               placeholder="融资额(只写数字，默认“万”)" ng-model="loanValue">
                    </div>
                </div>
                <button ng-click="cancel_add()" class="btn-grey fr">取消</button>
                <button ng-click="update_loan()" class="btn-blue fr">确定</button>
            </div>
            <div class="add-tips add-fee">
                <div class="form-group" style="height: 35px">
                    <label for="fee" class="col-sm-3 col-md-3 col-lg-3 noPadding textEnd">服务费：</label>
                    <div class="col-sm-9 col-md-9 col-lg-9 noPadding">
                        <input type="text" class="form-control col-sm-8 col-md-8 col-lg-8" id="fee"
                               placeholder="服务费（只写数字，默认%）" ng-model="fee">
                    </div>
                </div>
                <button ng-click="cancel_add()" class="btn-grey fr">取消</button>
                <button ng-click="update_fee()" class="btn-blue fr">确定</button>
            </div>
        </div>
        <div class="content-message clear">
            <div class="col-sm-6 col-md-6 col-lg-6 message-board">
                <div class="message-board-history">
                    <div class="message-board-items" ng-repeat="message in message_list | limitTo:3">
                        <div class="noPadding col-sm-1 col-md-1 col-lg-1">
                            <img class="message-img-box" src="img/recommendl.png" alt="">
                        </div>
                        <div class="col-ms-11 col-md-11 col-lg-11 noPadding">
                            <p><a href="">{{message.userName}}</a></p>
                            <p>{{message.content}}</p>
                            <p>{{message.createTime | date:'yyyy.MM.dd HH:MM'}}&nbsp;&nbsp;&nbsp;
                                {{message.statusDesc}}</p>
                        </div>
                    </div>
                </div>
                <p style="margin-top: 15px">
                    <a class="list-a-link" ng-click="messages(id)">查看更多留言</a>
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 message-write">
                <textarea class="col-sm-12 col-md-12 col-lg-12 message-textarea" placeholder="请在此处输入留言内容"
                          ng-model="content">
                </textarea>
                <p class="text-right">
                    <button ng-click="remark_submit()">点击发布</button>
                </p>
            </div>
        </div>
        <p class="create-title">基本内容</p>
        <div class="detail-style row" ng-show="basic.company_name">
            <p class="col-sm-2 col-md-2 col-lg-6-2 textEnd">企业全称：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{basic.company_name}}</div>
        </div>
        <div class="detail-style row" ng-show="basic.business_type">
            <p class="col-sm-2 col-md-2 col-lg-2 textEnd">企业类型：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{basic.business_type}}</div>
        </div>
        <div class="detail-style row" ng-show="basic.legal_representative">
            <p class="col-sm-2 col-md-2 col-lg-2 textEnd">企业法人：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{basic.legal_representative}}</div>
        </div>
        <div class="detail-style row" ng-show="basic.register_date">
            <p class="col-sm-2 col-md-2 col-lg-2 textEnd">成立时间：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{basic.register_date}}</div>
        </div>
        <div class="detail-style row" ng-show="basic.business_address">
            <p class="col-sm-2 col-md-2 col-lg-2 textEnd">注册地址：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{basic.business_address}}</div>
        </div>
        <div class="detail-style row" ng-show="basic.officeAddress">
            <p class="col-sm-2 col-md-2 col-lg-2 textEnd">办公地址：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{basic.officeAddress}}</div>
        </div>
        <div class="detail-style row" ng-show="basic.registered_capital">
            <p class="col-sm-2 col-md-2 col-lg-2 textEnd">注册资本：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{basic.registered_capital}}万</div>
        </div>
        <div class="detail-style row" ng-show="basic.item_category">
            <p class="col-sm-2 col-md-2 col-lg-2 textEnd">所属行业：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{basic.item_category}}</div>
        </div>
        <div class="detail-style row" ng-show="basic.business_scope">
            <p class="col-sm-2 col-md-2 col-lg-2 textEnd">经营范围：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{basic.business_scope}}</div>
        </div>
        <div class="detail-style row" ng-show="registerLinkmanMobile">
            <p class="col-sm-2 col-md-2 col-lg-2 textEnd">注册电话：</p>
            <p class="col-sm-10 col-md-10 col-lg-10">{{registerLinkmanName}}</p>
            <p class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                {{registerLinkmanMobile}}</p>
        </div>
        <div class="detail-style row" ng-show="basic.linkmanMobile">
            <p class="col-sm-2 col-md-2 col-lg-2 textEnd">联系电话：</p>
            <p class="col-sm-10 col-md-10 col-lg-10">{{basic.linkmanName}}</p>
            <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                {{basic.linkmanMobile}}
            </div>
        </div>
        <div class="detail-style row" ng-show="basic.continual">
            <p class="col-sm-2 col-md-2 col-lg-2 textEnd">年销售量：</p>
            <div class="col-sm-10 col-md-10 col-lg-10">{{basic.continual}}</div>
        </div>
        <p class="create-title" ng-show="model_list">其他类型</p>
        <div class="detail-style row" ng-repeat="template in model_list">
            <p class="col-sm-2 col-md-2 col-lg-2 textEnd">{{template.title}}:</p>
            <div class="col-sm-10 col-md-10 col-lg-10"
                 ng-hide="template.templateType == 3">{{template.content}}
            </div>
            <div ng-show="template.templateType == 3" class="col-sm-10 col-md-10 col-lg-10">
                <img class="apply-detail-img" ng-src="{{list}}" ng-repeat="list in template.imgList">
                <div>{{template.content}}</div>
            </div>
        </div>
    </div>
</div>