<div class="content-detail">
    <div class="content-title" style="margin-left: 15px;width: calc(100% - 30px)">
        <span>帮助申请</span>
        <div class="fr">
            <button class="btn btn-blue fr margin-left15" ng-click="submit_apply(0)">确定</button>
            <button class="btn btn-grey fr"><a href="javascript:history.go(-1)">返回</a></button>
        </div>
    </div>
    <form class="form-horizontal">
        <p class="help-text">如无特殊情况，建议让企业自行申请，以确保企业账号（手机号）准确。</p>
        <div class="form-group">
            <label for="bankname" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 textEnd">银行名称：</label>
            <div class="btn-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button type="button" class="btn-input col-xs-12 col-sm-12 col-md-12 col-lg-12" id="bankname"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{bankName ||"选择银行"}}
                </button>
                <ul class="dropdown-menu btn-drop col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <li class="btn-dropDetail" ng-click="choiceBank(bank.id,bank.name)" ng-repeat="bank in bank_list">
                        {{bank.name}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label for="bankMan" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 textEnd">产品名称：</label>
            <div class="btn-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button type="button" class="btn-input col-xs-12 col-sm-12 col-md-12 col-lg-12" id="bankMan"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{productName||"选择产品名称"}}
                </button>
                <ul class="dropdown-menu btn-drop col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <li class="btn-dropDetail" ng-click="choiceProduct(product.id,product.name,product.type)"
                        ng-repeat="product in product_list">
                        <span ng-show="product.type == 2" style="color: red">{{product.name}}</span>
                        <span ng-hide="product.type == 2">{{product.name}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 textEnd">企业账号：</label>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <input type="text" required="required" class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-12"
                       id="phone" placeholder="请输入这个企业的注册手机号" ng-model="applyMobile">
            </div>
        </div>
    </form>
</div>