<div class="content-detail">
    <div class="content-title">
        <span>更多{{}}条留言</span>
        <div class="fr">
            <button class="btn btn-grey fr"><a href="javascript:history.go(-1)">返回</a></button>
        </div>
    </div>
    <div class="">
        <div style="padding-left: 30px;height: 70px" ng-repeat="message in message_list">
            <div class="message-img-box fl">
                <img class="message-img-box" src="img/recommendl.png" alt="">
            </div>
            <div class="fl" style="padding-left: 5px;width: calc(100% - 30px)">
                <p><a href="">{{message.userName}}</a></p>
                <p>{{message.content}}</p>
                <p>{{message.createTime | date:'yyyy.MM.dd HH: MM'}}&nbsp;&nbsp;&nbsp;{{message.statusDesc}}</p>
            </div>
        </div>
    </div>
</div>