<div class="content1" style="background: #eaedf1">
    <div class="contentTags">系统通知：<span style="color: #F97383">功能未开通</span></div>
    <div style="padding: 0 15px">
        <div class="account">
            <div class="accountDetail fl" style="border-right: 2px solid #e6e7e8">
                <img ng-src="img/upload.png">
                <p>hi, <span style="color: #009dd0;">孟帅</span></p>
                <div class="padding-select">
                    <img class="btnBlueImg1"><span>账户管理</span>
                </div>

            </div>
            <div class="accountDetail fl">
                <p style="margin-top: 20px;text-align: left;text-indent:10px">本月已完成 <span>0</span>/<span>300万</span></p>
                <p style="text-align: left;text-indent:10px">本月利润 <span>0</span>/<span>2万</span></p>
                <p style="text-align: left;text-indent:10px">渠道 <span>{{count.channelUserCount}}人</span></p>
            </div>
            <div class="account-num fl">
                <div class="dateCount col-sm-4">
                    <p>总成交额：</p>
                    <p><span style="font-size: 22px;padding-right: 4px">{{count.totalLoanValue}}</span>万</p>
                    <p><span style="color: #8d98d7;padding-right: 4px">完成融资</span>{{count.totalFee}}万</p>
                </div>
                <div class="dateCount col-sm-4">
                    <p>企业数据：</p>
                    <p><span style="font-size: 22px;padding-right: 4px">{{count.totalCompany}}</span>万</p>
                    <p><span style="color: #8d98d7;padding-right: 4px">完成申请</span>{{count.complete}}个</p>
                </div>
                <div class="dateCount col-sm-4">
                    <p>注册用户</p>
                    <p>
                        <span style="font-size: 22px;padding-right: 4px" ng-hide="count.totalUser >= 10000">{{count.totalUser}}</span>
                        <span ng-hide="count.totalUser >= 10000">人</span>
                        <span style="font-size: 22px;padding-right: 4px" ng-show="count.totalUser >= 10000">{{count.totalUser}}</span>
                        <span ng-show="count.totalUser >= 10000">万人</span>
                    </p>
                    <p><span style="color: #8d98d7;padding-right: 4px">企业</span>
                        {{count.registerUser}}人|<span style="color: #8d98d7;padding-right: 4px">银行</span>{{count.bankUser}}人
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>