<div class="sideBar fl">
    <p class="sideBarP">|||</p>
    <p class="sideBarP1" >产品与服务</p>
    <ul>
        <a class="sideBarP2" ui-sref="master.company_message">
            <img class="btnBlueImg1">
            企业信息</a>
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='product'}"
           ui-sref="master.product">
            <img class="btnBlueImg1">金融产品</a>
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='signUp'}"
           ui-sref="master.signUp">
            <img class="btnBlueImg1">注册用户</a>
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='my_project'}"
           ui-sref="master.my_project">
            <img class="btnBlueImg1">我的报卷</a>
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='bank'}"
           ui-sref="master.bank">
            <img class="btnBlueImg1">合作银行</a>
    </ul>
    <p class="sideBarP1">个人中心</p>
    <ul>
        <!--<a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='account'}" ng-click="changeColor(5,1)" ui-sref="master.account">-->
        <!--<img class="btnBlueImg1">账号管理</a>-->
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='message'}"
           ui-sref="master.message.bank">
            <img class="btnBlueImg1">消息中心</a>
    </ul>
</div>
<div class="sideModel1 fl" ng-show="sideTwo">
    <p class="modelTitle1">消息中心</p>
    <ul style="text-align: center">
        <!--<li><a ui-sref="master.message.company">企业消息</a></li>-->
        <li style="text-align: center"><a class="sideBarP3 " ng-class="{sideBarP3C:choiceColorTwo =='bank'}"
                                          ui-sref="master.message.bank">
            <img class="btnBlueImg1">银行消息</a></li>
        <!--<li><a ui-sref="master.message.apply">转交申请通知</a></li>-->
        <li style="text-align: center"><a class="sideBarP3" ng-class="{sideBarP3C:choiceColorTwo =='system'}"
                                          ui-sref="master.message.system">
            <img class="btnBlueImg1">系统消息</a></li>
    </ul>
</div>

