<nav>
    <div class="navLeft">
        <a ui-sref="master"><img class="navLogo" src="img/logo1.png" alt=""></a>
    </div>
    <div class="navRight fr">
        <span class="navText" ui-sref="master">直融号企业管理平台</span>
        <ul class="fr">
            <li class="navList" ui-sref="master.message.bank"><img class="btnBlueImg1"><span class="navList1">{{count}}</span>
            </li>
            <li class="dropdown navList" style="color: #ffffff">
                <a style="color: #ffffff" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AD00007 <span class="caret"></span></a>
                <ul class="dropdown-menu ">
                    <li><a ng-click="exit()">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
