<div style="padding-left:15px;position: absolute;height: 100%; overflow-x:hidden; z-index: 100;width: 100%; background: #ffffff">
    <div class="contentTitle">
        <span>添加新职员</span>
        <div class="fr" style="margin: 10px">
            <button style="margin-left:10px" class="btn btn-default fr" type="submit" ng-click="submit()">确定</button>
            <button class="btn btn-default fr" ui-sref="super.manage">返回</button>
        </div>
    </div>
    <form class="form-horizontal">
        <p class="createTitle">职员信息</p>

        <div class="form-group">
            <label for="username" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">姓名</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" class="form-control" id="username" placeholder="姓名" ng-model="name">
            </div>
        </div>
        <div class="form-group">
            <label for="userNum" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">工号</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" class="form-control" id="userNum" placeholder="工号" ng-model="empNo">
            </div>
        </div>
        <div class="form-group">
            <label for="phoneNum" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">联系电话</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" class="form-control" id="phoneNum" placeholder="联系电话" ng-model="mobile">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">登录邮箱</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="email" class="form-control" id="email" placeholder="登录邮箱" ng-model="email">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">登录密码</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="password" class="form-control" id="password" placeholder="登录密码" ng-model="password">
            </div>
        </div>
    </form>
</div>