<div style="padding-left:15px;position: absolute;height: 100%; overflow-x:hidden; z-index: 100;width: 100%; background: #ffffff">
    <div class="contentTitle">
        <span ng-show="isUpdate ==true">更改新职员</span>
        <span ng-show="isUpdate ==false">添加新职员</span>
        <div class="fr" style="margin: 10px">
            <button style="margin-left:10px" class="btn btn-default fr" type="submit" ng-click="submit()">确定</button>
            <button class="btn btn-default fr" ui-sref="super.manage">返回</button>
        </div>
    </div>
    <form class="form-horizontal">
        <p class="createTitle">职员信息</p>

        <div class="form-group">
            <label for="username" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">姓名</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" class="form-control" id="username" placeholder="姓名" ng-model="name">
            </div>
        </div>
        <div class="form-group">
            <label for="userNum" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">工号</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" class="form-control" id="userNum" placeholder="工号" ng-model="empNo">
            </div>
        </div>

        <div class="form-group">
            <label for="role" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">职位：</label>
            <div class="btn-group col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <button type="button" class="btnInput" style="width: 100%" id="role" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    {{role_sale_see ||"职位"}}
                </button>
                <ul class="dropdown-menu btnDrop2" style="width: 80%;height: 100px">
                    <li ng-click="choice('admin')" class="list_select">销售职员</li>
                    <li ng-click="choice('manager')" class="list_select">销售主管</li>
                </ul>
            </div>
        </div>

        <div class="form-group" ng-show="role_sale == 'admin'">
            <label for="leader" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">所属主管：</label>
            <div class="btn-group col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <button type="button" class="btnInput" style="width: 100%" id="leader" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    {{managerName ||"主管姓名"}}
                </button>
                <ul class="dropdown-menu btnDrop" style="width: 80%">
                    <li class="btnDropDetail" ng-click="choiceManager(manager.id,manager.name)"
                        ng-repeat="manager in manager_list">
                        {{manager.name}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label for="phoneNum" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">联系电话</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" class="form-control" id="phoneNum" placeholder="联系电话" ng-model="mobile">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">登录邮箱</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="email" class="form-control" id="email" placeholder="登录邮箱" ng-model="email">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">登录密码</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="password" class="form-control" id="password" placeholder="登录密码" ng-model="password">
            </div>
        </div>
    </form>
</div>