<div class="content-no-side">
    <div class="content-title">
        <span ng-show="isUpdate ==true">更改新职员</span>
        <span ng-show="isUpdate ==false">添加新职员</span>
        <div class="fr">
            <button class="btn btn-blue margin-left15 fr" type="submit" ng-click="submit()">确定</button>
            <button class="btn btn-grey fr" ui-sref="super.manage">返回</button>
        </div>
    </div>
    <form class="form-horizontal">
        <p class="createTitle">职员信息</p>

        <div class="form-group">
            <label for="username" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">姓名</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" class="form-control" id="username" placeholder="姓名" ng-model="name">
            </div>
        </div>
        <div class="form-group">
            <label for="userNum" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">工号</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" class="form-control" id="userNum" placeholder="工号" ng-model="empNo">
            </div>
        </div>

        <div class="form-group">
            <label for="role" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">职位：</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <select name="position" class="form-control" id="role" ng-model="role_sale">
                    <option value="manager">销售主管</option>
                    <option value="admin">销售职员</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="phoneNum" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">联系电话</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" class="form-control" id="phoneNum" placeholder="联系电话" ng-model="mobile">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">登录邮箱</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="email" class="form-control" id="email" placeholder="登录邮箱" ng-model="email">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">修改密码</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="password" class="form-control" id="password" placeholder="修改密码（修改密码谨慎使用）"
                       ng-blur="checkPassword(1)" ng-model="password_one">
                <span class="input-tips-password" ng-show="password_one">{{password_one}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="password_again" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">再次输入密码</label>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="password" class="form-control" id="password_again" placeholder="重复输入密码"
                       ng-blur="checkPassword(2)" ng-model="password_again">
                <span class="input-tips-password" ng-show="msg_password">{{msg_password}}</span>
                <span class="input-tips-password" style="color: limegreen;" ng-show="msg_success">{{msg_success}}</span>
            </div>
        </div>
    </form>
</div>