<div class="row" ng-class="{true: 'content-open', false: 'content'}[isOpenMenu]">
    <div class="content-title"><span>职员列表</span></div>
    <div class="content-search">
        <div class="col-xs-4 col-md-4 col-lg-4 noPadding">
            <input type="text" class="form-control" placeholder="搜索职员" ng-model="search_text">
        </div>
        <div class="col-xs-1 col-md-1 col-lg-1">
            <button class="btn-blue" ng-click="search()" type="button">搜索</button>
        </div>
        <button class="btn-blue margin-left15 fr" ui-sref="super.manage.addUser">添加新职员</button>
        <button class="fr btn-grey" ng-click="refresh()" type="submit"><img class="btn-greyImg"> 刷新</button>
        </div>
    <li class="list-title">
        <span class="col-xs-2 col-md-2 col-lg-2">用户名</span>
        <span class="col-xs-2 col-md-2 col-lg-2">职位</span>
        <span class="col-xs-3 col-md-3 col-lg-3">登录邮箱</span>
        <span class="col-xs-2 col-md-2 col-lg-2">联系电话</span>
        <span class="col-xs-1 col-md-1 col-lg-1 text-center">注册时间</span>
        <span class="col-xs-2 col-md-2 col-lg-2 text-right">操作</span>
    </li>
    <ul class="list-group list-ul list-ul-height-1">
        <div class="line-roll">
            <div class="list-out">
                <li class="list-group-item list-user" ng-repeat="resultObj in result_list">
            <span class="col-xs-2 col-md-2 col-lg-2">
                <input type="checkbox" style="margin-right: 10px" id="{{resultObj.id}}"
                       ng-checked="isSelected(resultObj.id)"
                       ng-click="updateSelection($event,resultObj.id)">{{resultObj.name}}</span>
                    <span class="col-xs-2 col-md-2 col-lg-2">{{resultObj.position}}</span>
                    <span class="col-xs-3 col-md-3 col-lg-3">{{resultObj.email}}</span>
                    <span class="col-xs-2 col-md-2 col-lg-2">{{resultObj.mobile}}</span>
                    <span class="col-xs-1 col-md-1 col-lg-1 text-center">{{resultObj.createTime |date:'yyyy-MM-dd'}}</span>
                    <a class="fr" ng-click="update(resultObj.id)">修改账号</a>
            </li>
            </div>
        </div>
        <li class="list-bottom">
            <button class="content-btn" ng-click="delete()">删除职员</button>
            <span>共有{{page.totalCount || 0}}位职工，每页显示{{page.pageSize || 0}}位</span>
            <ul class="pagination fr" style="margin: 0">
                <li>
                    <a aria-label="Previous" ng-click="changePage(1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Previous" ng-click="changePage(page.upPage)">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <li><a>{{page.pageNo || 0}}</a></li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.nextPage)">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.totalPage)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</div>
</div>
