<div class="content-no-side">
    <p class="content-title">
        <span>修改密码</span>
        <button class="btn-grey fr"><a href="javascript:history.go(-1)">返回</a></button>
    </p>
    <div class="step">
        <div class="step-container clear">
            <div class="step-password fl">
                1
            </div>
            <div class="step-password-line fl"></div>
            <div class="step-password fl">
                2
            </div>
            <div class="step-password-line fl"></div>
            <div class="step-password fl" style="font-family:'Segoe MDL2 Assets'">
                &#xE10B;
            </div>
            <div class="step-cover step-cover-1"></div>
        </div>
        <p>
            <span>验证身份</span>
            <span style="margin-left: 275px">修改密码</span>
            <span style="margin-left: 275px">更换成功</span>
        </p>
    </div>
    <form class="form-horizontal" ng-show="step == 2" style="margin-top: 60px">
        <div class="form-group">
            <label for="phone"
                   class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 noPadding textEnd control-label">修改密码：</label>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <input type="text" class="form-control" id="phone" placeholder="输入新密码" ng-model="password">
            </div>
        </div>
    </form>
    <p style="text-align: center;" ng-show="step == 2">
        <button class="btn-blue" type="submit" ng-click="submit()">确定</button>
    </p>
    <div style="text-align: center" ng-show="step == 3">
        <p style="margin: 60px 0 30px">恭喜你密码更换成功，点击重新登录界面</p>
        <button class="btn-blue" type="submit" ng-click="go_login()">登录</button>
    </div>
</div>