<div class="sideBar fl">
    <p class="sideBarP">|||</p>
    <p class="sideBarP1" >产品与服务</p>
    <ul>
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='manage'}" ng-show="role == 'super'"
           ui-sref="super.manage">
            <img class="btnBlueImg1">职员管理</a>
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='company_message'}" ng-show="role == 'admin'"
           ui-sref="admin.company_message">
            <img class="btnBlueImg1">企业信息中心</a>
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='product'}" ng-show="role == 'super'"
           ui-sref="super.product">
            <img class="btnBlueImg1">金融产品</a>
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='signUp'}" ng-show="role == 'super'"
           ui-sref="super.signUp">
            <img class="btnBlueImg1">注册用户</a>
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='my_project'}" ng-show="role == 'admin'"
           ui-sref="admin.my_project">
            <img class="btnBlueImg1">我的项目</a>
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='bank'}" ng-show="role == 'super'"
           ui-sref="super.bank">
            <img class="btnBlueImg1">合作银行</a>
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='channel'}" ng-show="role == 'admin'"
           ui-sref="admin.channel">
            <img class="btnBlueImg1">渠道信息</a>
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='share'}" ng-show="role == 'admin'"
           ui-sref="admin.share">
            <img class="btnBlueImg1">分享统计</a>
    </ul>
    <p class="sideBarP1" ng-show="role == 'admin'">个人中心</p>
    <ul>
        <!--<a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='statistics'}" ng-click="changeColor(5,1)" ui-sref="master.statistics">-->
        <!--<img class="btnBlueImg1">账号管理</a>-->
        <a class="sideBarP2" ng-class="{sideBarP2C:choiceColor =='message'}" ng-show="role == 'admin'"
           ui-sref="admin.message.bank">
            <div style="display: inline-block;width: 30px;height: 40px;position: relative">
                <img class="btnBlueImg1">
                <span class="navList2" ng-show="count">{{count}}</span>
            </div>消息中心</a>
    </ul>
</div>
<div class="sideModel1 fl" ng-show="sideTwo">
    <p class="modelTitle1" ng-show="choiceColor =='message'">消息中心</p>
    <p class="modelTitle1" ng-show="choiceColor =='statistics'">分享统计</p>
    <ul style="text-align: center" ng-show="choiceColor =='message'">
        <!--<li><a ui-sref="master.message.company">企业消息</a></li>-->
        <li style="text-align: center;">
            <a class="sideBarP3" ng-class="{sideBarP3C:choiceColorTwo =='bank'}"
               ui-sref="admin.message.bank">
            <div style="display: inline-block;width: 30px;height: 40px;position: relative">
                <img class="btnBlueImg1">
                <span class="navList2" ng-show="count">{{count}}</span>
            </div>银行消息
        </a>
        </li>
        <!--<li><a ui-sref="master.message.apply">转交申请通知</a></li>-->
        <li style="text-align: center"><a class="sideBarP3" ng-class="{sideBarP3C:choiceColorTwo =='system'}"
                                          ui-sref="admin.message.system">
            <div style="display: inline-block;width: 30px;height: 40px;position: relative">
                <img class="btnBlueImg1">
                <span class="navList2" ng-show="system_message">{{system_message}}</span>
            </div>系统消息</a>
        </li>
    </ul>
</div>
