<nav>
    <div class="navLeft">
        <a ng-click="go_home()">
            <img class="navLogo" src="img/logo1.png" alt="">
        </a>
    </div>
    <div class="navRight fr">
        <span class="navText" ng-click="go_home()">直融号企业管理平台</span>
        <ul class="fr">
            <li class="navList" ui-sref="admin.message.bank" ng-hide="role == 'super'">
                <img class="btn-blue-img">
                <span class="navList1" ng-show="count">{{count}}</span>
            </li>
            <li class="dropdown navList" style="color: #ffffff">
                <a style="color: #ffffff" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">菜单<span class="caret"></span></a>
                <ul class="dropdown-menu ">
                    <li><a ng-click="exit()">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="alert alert-success width-alert" id="alert" role="alert">{{successMsg}}
</div>