<div class="content row">
    <p class="content-title">
        <span>{{bank_man_title || "添加新银行职员"}}</span>
        <button class="btn btn-blue margin-left15 fr" type="submit" ng-click="add_bank_man()">确定</button>
        <button class="btn btn-grey fr" ng-click="go_back()">返回</button>
    </p>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-2 col-md-2 col-lg-2 control-label">用户名：</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="username" placeholder="用户名" ng-model="bank_man.name">
            </div>
        </div>
        <div class="form-group">
            <label for="belongToBank" class="col-sm-2 col-md-2 col-lg-2 control-label">所属银行：</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="belongToBank" placeholder="所属银行"
                       ng-model="bank_man.branchBank">
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-sm-2 col-md-2 col-lg-2 control-label">详细地址：</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="address" placeholder="详细地址"
                       ng-model="bank_man.address">
            </div>
        </div>
        <div class="form-group">
            <label for="position" class="col-sm-2 col-md-2 col-lg-2 control-label">银行职位：</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="position" placeholder="银行职位"
                       ng-model="bank_man.position">
            </div>
        </div>

        <div class="form-group">
            <label for="products" class="col-sm-2 col-md-2 col-lg-2 control-label">负责产品：</label>
            <div class="btn-group col-sm-6 col-md-6 col-lg-6" style="position: relative">
                <button type="button" ng-click="show_product()" class="btn-input col-sm-12 col-lg-12" id="products">
                    {{products ||"可多选"}}
                </button>
                <ul class="btn-drop list-group col-sm-6 col-md-6 col-lg-6" ng-show="productDiv">
                    <li class="list-group-item" style="border: none;margin: 0" ng-repeat="product in product_list">
                        <input type="checkbox" style="margin-right: 10px" id="{{product.id}}"
                               ng-checked="isSelected(product.id)"
                               ng-click="updateSelection($event,product.id,product.name)">{{product.name}}
                    </li>
                    <button class="btn-grey" style="position: absolute;bottom: 10px"
                            ng-click="hide_product(product.name)">选择产品
                    </button>
                    <button class="btn-grey" style="position: absolute;bottom: 10px;left: 120px"
                            ng-click="hide_product(product.name)">退出
                    </button>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-2 col-md-2 col-lg-2 control-label">联系电话：</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="phone" placeholder="联系电话" ng-model="bank_man.mobile">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 col-md-2 col-lg-2 control-label">收件邮箱：</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" class="form-control" id="email" placeholder="收件邮箱" ng-model="bank_man.email">
            </div>
        </div>
    </form>
</div>