<div class="content">
    <p class="content-title"><span>合作银行</span></p>
    <div class="clear content-search">
            <div class="fr">
                <button class="btn btn-blue margin-left15" ui-sref="super.bank.add_bank">添加新银行</button>
            </div>
        </div>
    <div class="width100">
        <div class="bankBox" ng-mouseover="edit = true" ng-mouseleave="edit = false" ng-repeat="bank in bank_list">
            <div class="bankContentDelete" ng-show="edit" ng-click="delete(bank.id)">
                <div class="whiteLine"></div>
            </div>
            <button class="bank-title-edit fr" ng-show="edit" ng-click="edit_bank(bank.id)">编辑
            </button>
            <div class="bankImg fl">
                <img ng-src="{{bank.icon || 'img/recommendl.png'}}" alt="">
            </div>
            <div class="bankContent fl">
                <p class="bankContentP1">{{bank.name}}</p>
                <p class="bankContentP2">共有{{bank.count}}位客户经理</p>
                <button class="btn btn-blue1" ng-click="find_detail(bank.id,bank.name)">查看详情</button>
            </div>
        </div>
    </div>
    <!--</div>-->
</div>