<div class="content" style="width: calc(100% - 210px)">
    <p class="contentTitle"><span>合作银行</span></p>
        <div class="clear">
            <div class="fr">
                <button class="btn btnGrew" ng-click="changeModule(false,false)" type="submit">取消</button>
                <button class="btn btnGrew" ng-click="changeModule(true,false)" type="submit">
                    编辑银行
                </button>
                <button class="btn btnGrew" ng-click="changeModule(false,true)" type="submit">
                    删除银行
                </button>
                <button class="btn btnBlue" ui-sref="super.bank.add_bank">添加新银行</button>
            </div>
        </div>
    <div class="bankBox" ng-repeat="bank in bank_list">
        <div class="bankContentDelete" ng-show="deleteModule" ng-click="delete(bank.id)">
            <div class="whiteLine"></div>
        </div>
        <div class="bankContentEdit" ng-click="edit_bank(bank.id)" ng-show="editModule">点击可编辑</div>
        <div class="bankImg fl">
            <img ng-src="{{bank.icon || 'img/recommendl.png'}}" alt="">
        </div>
        <div class="bankContent fl">
            <p class="bankContentP1">{{bank.name}}</p>
            <p class="bankContentP2">共有{{bank.count}}位客户经理</p>
            <button class="btn btnBlue1" ng-click="find_detail(bank.id,bank.name)">查看详情</button>
        </div>
    </div>
    <!--</div>-->
</div>