<div class="content-no-side">
    <p class="content-title">
        <span>注册人变更</span>
        <button class="btn-blue margin-left-15 fr" type="submit" ng-click="change()">确定</button>
        <button class="btn-grey fr" type="submit" ng-click="back_channel()">返回</button>
    </p>
    <form class="form-horizontal">
            <div class="form-group">
                <label for="phone" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">企业账号：</label>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <input type="text" class="form-control" id="phone" placeholder="本企业的注册电话" ng-model="phone">
                </div>
            </div>
        </form>
</div>