<div class="row" ng-class="{true: 'content-open', false: 'content'}[isOpenMenu]">
    <div class="content-title">
        <span>渠道统计</span>
        <button class="btn-blue fr margin-left-15" type="submit" ng-click="add_channel_man()">添加渠道人员</button>
    </div>
    <li class="list-title">
        <span class="col-sm-2 col-md-2 col-lg-2">用户名</span>
        <span class="col-sm-3 col-md-3 col-lg-3 text-center">注册电话</span>
        <span class="col-sm-3 col-md-3 col-lg-3 text-center">注册时间</span>
        <span class="col-sm-2 col-md-2 col-lg-2 text-center">渠道申请</span>
        <span class="col-sm-2 col-md-2 col-lg-2 text-right">操作</span>
    </li>
    <ul class="list-group list-ul list-ul-height-3">
        <div class="line-roll">
            <div class="list-out">
                <li class="list-group-item list-user" ng-repeat="resultObj in user_list">
                    <div class="col-sm-2 col-md-2 col-lg-2 padding-none">
                        <input type="checkbox" style="margin-right: 10px" id="{{resultObj.id}}"
                               ng-checked="isSelected(resultObj.id)"
                               ng-click="updateSelection($event,resultObj.id)">
                        {{resultObj.name}}
                        <img ng-src="img/tips/channel.png" class="channel-best">
                    </div>
                    <span class="col-sm-3 col-md-3 col-lg-3 text-center">{{resultObj.mobile}}</span>
                    <!--<div class="col-sm-3 col-md-3 col-lg-3 text-center">-->
                    <!--<p>{{resultObj.registerTime +'000' | date:'yyyy-MM-dd'}}</p>-->
                    <!--</div>-->
                    <div class="col-sm-3 col-md-3 col-lg-3 padding-none text-center" style="margin-top: -8px">
                        <span class="col-sm-12 col-md-12 col-lg-12">{{resultObj.registerTime +'000' | date:'yyyy-MM-dd'}}</span>
                        <span>{{resultObj.registerTime +'000' | date:'HH:mm'}}</span>
                        <span ng-hide="resultObj.registerTime">&nbsp;</span>
                    </div>
                    <span class="col-sm-2 col-md-2 col-lg-2 text-center">{{resultObj.count}}</span>
                    <a class="col-sm-2 col-md-2 col-lg-2 padding-none text-right link-pointer"
                       ng-click="showDetail(resultObj.id)">查看详情</a>
                </li>
            </div>
        </div>
        <li class="list-bottom">
            <button class="content-btn" ng-click="cancel()">删除</button>
            <span>共有{{page.totalCount || 0}}位注册用户，每页显示{{page.pageSize || 0}}条</span>
            <ul class="pagination fr" style="margin: 0">
                <li>
                    <a aria-label="Previous" ng-click="changePage(1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                <li>
                    <a aria-label="Previous" ng-click="changePage(page.upPage)">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <li><a>{{page.pageNo || 0}}</a></li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.nextPage)">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.totalPage)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>