<div style="position: absolute;overflow-x:hidden; z-index: 100;width: 100%; height: calc(100% - 50px); min-width: 1150px; background: #ffffff">
    <!--<div class="sideModel fl">-->
    <!--<p class="modelTitle">添加一个模板</p>-->
    <!--<div>-->
    <!--<div class="model_01" ng-click="addModel(1)"></div>-->
    <!--<p>(1)</p>-->
    <!--</div>-->
    <!--<div>-->
    <!--<div class="model_02" ng-click="addModel(2)"></div>-->
    <!--<p>(2)</p>-->
    <!--</div>-->
    <!--<div>-->
    <!--<div class="model_03" ng-click="addModel(3)"></div>-->
    <!--<p>(3)</p>-->
    <!--</div>-->
    <!--</div>-->
    <div class="addRight1 fl">
        <div class="contentTitle">
            <span>添加企业信息</span>
            <div class="fr" style="margin: 10px">
                <button style="margin-left:10px" class="btn btn-default fr" type="submit" ng-click="submitMessage()">保存
                </button>
                <button class="btn btn-default fr" ui-sref="master.company_message">返回</button>
            </div>
        </div>
        <form class="form-horizontal">
            <p class="createTitle">基本内容</p>

            <div class="form-group">
                <label for="companyName" class="col-sm-2 control-label">企业全称</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="companyName" placeholder="企业全称"
                           ng-model="basic.company_name">
                </div>
            </div>
            <div class="form-group">
                <label for="companyType" class="col-sm-2 control-label">企业类型</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="companyType" placeholder="企业类型"
                           ng-model="basic.business_type">
                </div>
            </div>
            <div class="form-group">
                <label for="lawyer" class="col-sm-2 control-label">企业法人</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="lawyer" placeholder="企业法人"
                           ng-model="basic.legal_representative">
                </div>
            </div>
            <div class="form-group">
                <label for="datetime" class="col-sm-2 control-label">成立时间</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="datetime" placeholder="成立时间xxxx-xx-xx"
                           ng-model="basic.register_date">
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">注册地址</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="address" placeholder="注册地址"
                           ng-model="basic.business_address">
                </div>
            </div>
            <div class="form-group">
                <label for="loan" class="col-sm-2 control-label">注册资本</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="loan" placeholder="注册资本"
                           ng-model="basic.registered_capital">
                </div>
            </div>
            <div class="form-group">
                <label for="classification" class="col-sm-2 control-label">所属行业</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="classification" placeholder="所属行业"
                           ng-model="basic.item_category">
                </div>
            </div>

            <div class="form-group" ng-show="isReg">
                <label for="phoneNum" class="col-sm-2 control-label">注册电话</label>
                <div class="col-sm-2">
                    <input type="text" readonly="readonly" class="form-control" id="phoneMan" placeholder="注册人"
                           ng-model="basic.registerLinkman">
                </div>
                <div class="col-sm-2">
                    <input type="text" readonly="readonly" class="form-control" id="phone" placeholder="注册电话"
                           ng-model="basic.phone">
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumMan" class="col-sm-2 control-label">联系电话</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="phoneNumMan" placeholder="联系人"
                           ng-model="basic.linkmanName">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="phoneNum" placeholder="联系电话"
                           ng-model="basic.linkmanMobile">
                </div>
            </div>
        </form>
    </div>
</div>