<div class="content">
    <div class="contentTitle width100"><span>企业信息列表</span></div>
    <div class="width100">
        <div class="width30">
            <input type="text" class="form-control" placeholder="搜索企业名称" ng-model="search_text">
        </div>
        <div class="width10">
            <button class="btn btnBlue" ng-click="search()" type="button">搜索</button>
        </div>
        <button class="btn fr btnBlue" ui-sref="admin.company_message.add_company"
                type="submit">
            <img class="btnBlueImg">添加企业信息
        </button>
        <button class="btn fr btnGrew" ng-click="refresh()" type="submit"><img class="btnGrewImg"> 刷新</button>

    </div>
    <ul class="list-group list_ul">
        <li class="list-group-item list_title">
            <span class="width25">企业名称</span>
            <span class="width25">申请产品</span>
            <span class="width15">申请时间</span>
            <div class="btn-group width15">
                <div style="cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    状态({{status_text}}) <span class="caret"></span>
                </div>
                <ul class="dropdown-menu" style="width: 100px">
                    <li ng-click="choice(0)" class="list_select">未申请</li>
                    <li ng-click="choice(1)" class="list_select">申请中</li>
                    <li ng-click="choice()" class="list_select">全部</li>
                </ul>
            </div>
            <span class="width15">操作</span>
        </li>
        <li class="list-group-item list_common" ng-repeat="resultObj in result_list">
            <span class="width25">
                <input type="checkbox" style="margin-right: 10px" id="{{resultObj.id}}"
                       ng-checked="isSelected(resultObj.id)"
                       ng-click="updateSelection($event,resultObj.id)">
                <!--<a ng-click="updateApply(resultObj.id)" style="cursor: pointer">-->
                        {{resultObj.companyName}}
                <!--</a>-->
                <img src="img/tips/tel.png" class="img-size" ng-show="resultObj.channel =='tel'">
                <!--<img src="img/tips/tel.png" class="img-size" ng-show="resultObj.channel =='zrh_manager'">-->
                <img src="img/tips/bankMan.png" class="img-size" ng-show="resultObj.channel =='a'">
                <!--<img src="img/tips/bankMan.png" class="img-size" ng-show="resultObj.channel =='zrh'">-->
                <!--<img src="img/tips/t" ng-show="tel">-->
            </span>
            <span class="width25">{{resultObj.bankName ||'未申请'}} <span ng-show="resultObj.bankName">-</span>{{resultObj.productName}}</span>
            <span class="width15">{{resultObj.time | date:'yyyy-MM-dd'}}</span>
            <span class="width15">{{resultObj.progressText}}</span>
            <button class="btnBlue" style="vertical-align: top" ng-click="updateApply(resultObj.id)">查看详情</button>
        </li>
        <li class="list-group-item list_common">
            <button class="contentClass" ng-click="delete()">删除</button>
            <span>共有{{page.totalCount}}家企业申请，每页显示{{page.pageSize}}条</span>
            <ul class="pagination fr" style="margin: 0">
                <li>
                    <a aria-label="Previous" ng-click="changePage(1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Previous" ng-click="changePage(page.upPage)">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <li><a ng-click="changePage(page.pageNo)">{{page.pageNo}}</a></li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.nextPage)">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.totalPage)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!--</div>-->