<div style="position: absolute;overflow-x:hidden; margin-left: 250px;width: calc(100% - 250px); height: calc(100% - 50px); background: #ffffff">
    <div class="addRight1 fl">
        <div class="contentTitle">
            <span>个人统计</span>
        </div>
        <div class="messageBox clear">
            <div class="fl">
                <p>个人申请数：</p>
                <p>{{page.totalCount}}</p>
            </div>
            <div class="fl">
                <p>个人申请数：</p>
                <p>{{page.totalCount}}</p>
            </div>
            <div class="fl">
                <p>个人申请数：</p>
                <p>{{page.totalCount}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="date_start">开始时间</label>
            <div class="width20">
                <input type="date" class="form-control" id="date_start" ng-model="start_date">
            </div>
            <div class="width20">
                <input type="date" class="form-control" id="date_end" ng-model="end_date">
            </div>
            <button class="btn btnGrew" ng-click="search()"></button>
        </div>
        <ul class="list-group list_ul">
            <li class="list-group-item list_title">
                <span class="width25">分享页面</span>
                <span class="width15">分享时间</span>
                <span class="width15">处理人</span>
            </li>
            <li class="list-group-item list_common1" ng-repeat="resultObj in share_list">
            <span class="width25">
            <input type="checkbox" style="margin-right: 10px" id="{{resultObj.id}}"
                   ng-checked="isSelected(resultObj.id)"
                   ng-click="updateSelection($event,resultObj.id)">{{resultObj.url}}</span>
                <span class="width15">{{resultObj.createTime |date:'yyyy-MM-dd'}}</span>
                <span class="width15">{{resultObj.count}}</span>
            </li>
            <li class="list-group-item list_common1">
                <span class="fl">共有{{page.totalCount}}款金融产品，每页显示{{page.pageSize}}条</span>
                <ul class="pagination fl" style="margin-left: 30px;margin-top: -5px">
                    <li>
                        <a aria-label="Previous" ng-click="changePage(1)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Previous" ng-click="changePage(page.upPage)">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                    <li><a>{{page.pageNo}}</a></li>
                    <li>
                        <a aria-label="Next" ng-click="changePage(page.nextPage)">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                    <li>
                        <a aria-label="Next" ng-click="changePage(page.totalPage)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>