<div class="content row">
    <div class="contentTitle col-sm-10 col-lg-10"><span>金融产品</span></div>
    <div class="noPadding col-sm-10 col-lg-10">
        <div class="noPadding col-sm-4 col-lg-4">
            <input type="text" class="form-control" placeholder="搜索企业名称" ng-model="search_text">
        </div>
        <div class="col-sm-1 col-lg-1">
            <button class="btn btnBlue" ng-click="search()" type="button">搜索</button>
        </div>
        <button class="btn btnBlue fr" ui-sref="master.product.create">添加金融产品</button>
        <button class="btn fr btnGrew" ng-click="refresh()" type="submit"><img class="btnGrewImg"> 刷新</button>

    </div>
    <ul class="list-group list_ul col-sm-10 col-lg-10">
        <li class="list-group-item list_title">
            <span class="col-sm-3 col-lg-3">金融产品</span>
            <span class="col-sm-2 col-lg-2">企业申请数</span>
            <span class="col-sm-2 col-lg-2">所属银行</span>
            <div class="btn-group col-sm-2 col-lg-2 noPadding">
                <div style="cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    状态({{release_text}}) <span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                    <li ng-click="choice(true)" class="list_select">已发布</li>
                    <li ng-click="choice(false)" class="list_select">未发布</li>
                    <li ng-click="choice()" class="list_select">全部</li>
                </ul>
            </div>
            <span class="col-sm-3 col-lg-3">操作</span>
        </li>
        <li class="list-group-item list_common" ng-repeat="resultObj in result_list">

            <!--<span class="col-sm-2">{{resultObj.companyName}}</span>-->
                <span class="col-sm-3 col-lg-3">
                    <input type="checkbox" style="margin-right: 10px" id="{{resultObj.id}}"
                           ng-checked="isSelected(resultObj.id)"
                           ng-click="updateSelection($event,resultObj.id)">{{resultObj.name}}</span>
            <span class="col-sm-2 col-lg-2">{{resultObj.count}}</span>
            <span class="col-sm-2 col-lg-2">{{resultObj.bankname}}</span>
            <span class="col-sm-2 col-lg-2">{{resultObj.progressText}}</span>
            <button class="btn btnGrew" ng-click="update(resultObj.id)">编辑产品</button>
            <button class="btn btnGrew" ng-click="release(resultObj.id)">发布产品</button>
            <button class="btn btnGrew" ng-click="unrelease(resultObj.id)">取消发布</button>
        </li>
        <li class="list-group-item list_common">
            <button class="btnGrew" ng-click="submit()">发布产品</button>
            <button class="btnGrew" ng-click="cancel()">取消发布</button>
            <button class="btnGrew" ng-click="delete()">删除产品</button>
            <button class="btnGrew" ng-click="sort_up()">产品上移</button>
            <span>共有{{page.totalCount}}款金融产品，每页显示{{page.pageSize}}条</span>
            <ul class="pagination fr" style="margin: 0">
                <li>
                    <a aria-label="Previous" ng-click="changePage(1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Previous" ng-click="changePage(page.upPage)">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <li><a>{{page.pageNo}}</a></li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.nextPage)">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.totalPage)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</div>