<div style="padding-left:15px;position: absolute;overflow-x:hidden; z-index: 100;width: 100%; height: calc(100% - 50px); background: #ffffff">
    <div class="contentTitle">
        <span>添加金融产品</span>
        <div class="fr" style="margin: 10px">
            <button style="margin-left:10px" class="btn btn-default fr" type="submit" ng-click="submit()">保存</button>
            <button class="btn btn-default fr" ui-sref="master.product">返回</button>
        </div>
    </div>
    <form class="form-horizontal">
        <p class="createTitle">基本内容</p>
        <div class="form-group">
            <label for="productName" class="col-sm-2 control-label">标题</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="productName" placeholder="标题" ng-model="product.name">
            </div>
        </div>
        <div class="form-group">
            <label for="tags" class="col-sm-2 control-label">添加标签</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="tags" placeholder="添加标签" ng-model="tags">
            </div>
        </div>
        <div class="form-group">
            <label for="bankname" class="col-sm-2 control-label">银行名称</label>
            <div class="btn-group col-sm-4 col-lg-4">
                <button type="button" class="btnInput col-sm-12 col-lg-12" id="bankname" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    {{bankName ||"选择银行"}}
                </button>
                <ul class="dropdown-menu btnDrop col-sm-4 col-lg-4">
                    <li class="btnDropDetail" ng-click="choiceBank(bank.id,bank.name)" ng-repeat="bank in bank_list">
                        {{bank.name}}
                    </li>
                    <!--<li>平安银行</li>-->
                    <!--<li>平安银行</li>-->
                    <!--<li>平安银行</li>-->
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="rate" class="col-sm-2 control-label">利率</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="rate" placeholder="利率" ng-model="product.rate">
            </div>
            <label for="rateRemark" class="col-sm-1 control-label">备注</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="rateRemark" placeholder="备注" ng-model="product.rateRemark">
            </div>
        </div>
        <div class="form-group">
            <label for="loanvalue" class="col-sm-2 control-label">贷款额度</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="loanvalue" placeholder="贷款额度" ng-model="product.loanvalue">
            </div>
        </div>
        <div class="form-group">
            <label for="loanlife" class="col-sm-2 control-label">贷款期限</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="loanlife" placeholder="贷款期限" ng-model="product.loanlife">
            </div>
        </div>
        <div class="form-group">
            <label for="summary" class="col-sm-2 control-label">产品概述</label>
            <div class="col-sm-6">
                <textarea type="text" class="form-control" id="summary" placeholder="产品概述"
                          ng-model="product.summary"></textarea>
            </div>
        </div>
        <p class="col-sm-offset-2">
            最多可输入150个字符，超过部分将不显示
        </p>

        <p class="createTitle">产品特色
            <button class="btn" ng-click="add_feature()">添加特色</button>
        </p>
        <!--<input type="button" style="margin-top: 20px" class="contentClassRight" value="添加联系人" />-->
        <div class="form-group" ng-repeat="features in feature_list track by $index">
            <label for="feature" class="col-sm-2 control-label">产品特色</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="产品特色" id="feature" ng-model="features.feature">
            </div>
            <button class="btn btn-default" ng-click="remove_feature(features)">删除</button>
        </div>
        <p class="createTitle">准入条件
            <button class="btn" ng-click="add_condition()">添加条件</button>
        </p>
        <div class="form-group" ng-repeat="conditions in condition_list">
            <label for="conditions" class="col-sm-2 control-label">准入条件</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="conditions" placeholder="准入条件"
                       ng-model="conditions.condition">
            </div>
            <button class="btn btn-default" ng-click="remove_condition(conditions)">删除</button>
        </div>
    </form>
</div>