<div class="row" ng-class="{true: 'content-open', false: 'content'}[isOpenMenu]">
    <div class="content-title"><span>金融产品</span></div>
    <div class="content-search">
        <div class="col-xs-4 col-md-4 col-lg-4 noPadding">
            <input type="text" class="form-control" placeholder="搜索金融产品名称" ng-model="search_text">
        </div>
        <div class="col-xs-1 col-md-1 col-lg-1">
            <button class="btn-blue" ng-click="search()" type="button">搜索</button>
        </div>
        <button class="btn-blue margin-left15 fr" ui-sref="super.product.create">添加金融产品</button>
        <button class="fr btn-grey" ng-click="go_sort()" type="submit"><img class="btn-greyImg">排序</button>
        <button class="fr btn-grey" ng-click="refresh()" type="submit"><img class="btn-greyImg"> 刷新</button>
    </div>
    <li class="list-title">
        <span class="col-xs-2 col-md-2 col-lg-2">金融产品</span>
        <span class="col-xs-3 col-md-3 col-lg-3 text-center">企业申请数</span>
        <span class="col-xs-2 col-md-2 col-lg-2 text-center">所属银行</span>
        <div class="btn-group noPadding col-xs-1 col-md-1 col-lg-1 col-xs-offset-1 col-md-offset-1 col-lg-offset-1">
            <div style="cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                状态({{release_text}}) <span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
                <li ng-click="choice(true)" class="list-select">已发布</li>
                <li ng-click="choice(false)" class="list-select">未发布</li>
                <li ng-click="choice()" class="list-select">全部</li>
            </ul>
        </div>
        <span class="col-xs-3 col-md-3 col-lg-3 text-right">操作</span>
    </li>
    <ul class="list-group list-ul list-ul-height-1">
        <div class="line-roll">
            <div class="list-out">
                <li class="list-group-item list-common" style="padding-right: 0" ng-repeat="resultObj in result_list">
                <span class="col-xs-2 col-md-2 col-lg-2">
                    <input type="checkbox" style="margin-right: 10px" id="{{resultObj.id}}"
                           ng-checked="isSelected(resultObj.id)"
                           ng-click="updateSelection($event,resultObj.id)">{{resultObj.name}}</span>
                    <span class="col-xs-3 col-md-3 col-lg-3 text-center">{{resultObj.count}}</span>
                    <span class="col-xs-2 col-md-2 col-lg-2 text-center">{{resultObj.bankname}}</span>
                    <span class="col-xs-1 col-md-1 col-lg-1 col-xs-offset-1 col-md-offset-1 col-lg-offset-1">{{resultObj.progressText}}</span>
                <span class="col-xs-3 col-md-3 col-lg-3 text-right">
                    <a class="list-a-link" ng-click="update(resultObj.id)">编辑产品</a>
                    <a class="list-a-link border-left-right" ng-click="release(resultObj.id)">发布产品</a>
                    <a class="list-a-link" ng-click="unrelease(resultObj.id)">取消发布</a>
                </span>

                </li>
            </div>
        </div>
        <li class="list-bottom">
            <button class="content-btn" ng-click="submit()">发布产品</button>
            <button class="btn-grey" ng-click="cancel()">取消发布</button>
            <button class="btn-grey" ng-click="delete()">删除产品</button>
            <button class="btn-grey" ng-click="sort_up()">产品上移</button>
            <span>共有{{page.totalCount}}款金融产品，每页显示{{page.pageSize}}条</span>
            <ul class="pagination fr" style="margin: 0">
                <li>
                    <a aria-label="Previous" ng-click="changePage(1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Previous" ng-click="changePage(page.upPage)">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <li><a>{{page.pageNo}}</a></li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.nextPage)">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Next" ng-click="changePage(page.totalPage)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</div>