<div class="content row">
    <p class="contentTitle">
        <span>添加新银行（编辑银行 ）</span>
        <button style="margin-left:10px" class="btn btn-default fr" type="submit" ng-click="submitAdd()">确定</button>
    </p>
    <div class="row" style="min-width: 950px">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="pickfiles" class="col-sm-2 control-label">上传图片</label>
                <div class="col-sm-4" id="upload_container">
                    <img class="userSetContent" id="pickfiles" ng-src="{{bankPic || 'img/recommendl.png'}}">
                </div>
            </div>
            <div class="form-group">
                <label for="bankName" class="col-sm-2 control-label">银行名称</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="bankName" placeholder="银行名称" ng-model="name">
                </div>
            </div>
        </form>
    </div>
</div>