<div class="content row">
    <p class="contentTitle"><span>合作银行</span></p>
    <div class="row" style="min-width: 950px">
        <div class="col-sm-offset-8 col-lg-offset-8">
            <div class="input-group">
                <span class="input-group-btn">
                <!--<button class="btn btn-default" ng-click="edit_bank()" type="submit">编辑银行</button>-->
                <button class="btn btn-default col-sm-offset-1" ui-sref="master.bank.add_bank">添加新银行</button>
                </span>
            </div>
        </div>
        <div class="bankBox" ng-repeat="bank in bank_list">
            <div class="bankImg fl" ng-click="edit_bank(bank.id)">
                <img ng-src="{{bank.icon || 'img/recommendl.png'}}" alt="">
            </div>
            <div class="bankContent fl">
                <p>{{bank.name}}</p>
                <p>共有16位客户经理</p>
                <button class="btn btn-info" ng-click="find_detail(bank.id,bank.name)">查看详情</button>
                <button class="btn" ng-click="delete(bank.id)">删除</button>
            </div>
        </div>
    </div>
</div>