<div style="position: absolute;overflow-x:hidden; z-index: 100;width: 100%;min-width: 1150px; background: #ffffff">
   <div class="sideModel fl">
       <div ng-click="addModel(1)">模板1</div>
       <div ng-click="addModel(2)">模板2</div>
       <div ng-click="addModel(3)">模板3</div>
       <!--<div ng-click="addModel(4)">模板4</div>-->
   </div>
   <div class="addRight fl">
       <div class="contentTitle">
           <span>添加金融产品</span>
           <div class="fr" style="margin: 10px">
               <button style="margin-left:10px" class="btn btn-default fr" type="submit" ng-click="submit()">保存</button>
               <button class="btn btn-default fr" ui-sref="master.person_baojuan">返回</button>
           </div>
       </div>
       <form class="form-horizontal">
           <p class="createTitle">基本内容</p>

           <div class="form-group">
               <label for="companyName" class="col-sm-2 control-label">企业全称</label>
               <div class="col-sm-4">
                   <input type="text" class="form-control" id="companyName" placeholder="企业全称" ng-model="company_name">
               </div>
           </div>
           <div class="form-group">
               <label for="companyType" class="col-sm-2 control-label">企业类型</label>
               <div class="col-sm-4">
                   <input type="text" class="form-control" id="companyType" placeholder="企业类型" ng-model="business_type">
               </div>
           </div>
           <div class="form-group">
               <label for="lawyer" class="col-sm-2 control-label">企业法人</label>
               <div class="col-sm-4">
                   <input type="text" class="form-control" id="lawyer" placeholder="企业法人"
                          ng-model="legal_representative">
               </div>
           </div>
           <div class="form-group">
               <label for="datetime" class="col-sm-2 control-label">成立时间</label>
               <div class="col-sm-4">
                   <input type="text" class="form-control" id="datetime" placeholder="成立时间" ng-model="register_date">
               </div>
           </div>
           <div class="form-group">
               <label for="address" class="col-sm-2 control-label">注册地址</label>
               <div class="col-sm-4">
                   <input type="text" class="form-control" id="address" placeholder="注册地址" ng-model="business_address">
               </div>
           </div>
           <div class="form-group">
               <label for="loan" class="col-sm-2 control-label">注册资本</label>
               <div class="col-sm-4">
                   <input type="text" class="form-control" id="loan" placeholder="注册资本" ng-model="registered_capital">
               </div>
           </div>
           <div class="form-group">
               <label for="classification" class="col-sm-2 control-label">所属行业</label>
               <div class="col-sm-4">
                   <input type="text" class="form-control" id="classification" placeholder="所属行业"
                          ng-model="item_category">
               </div>
           </div>
           <div class="form-group">
               <label for="businessScope" class="col-sm-2 control-label">经营范围</label>
               <div class="col-sm-4">
                   <input type="text" class="form-control" id="businessScope" placeholder="经营范围"
                          ng-model="business_scope">
               </div>
           </div>
           <div class="form-group">
               <label for="phoneNum" class="col-sm-2 control-label">联系电话</label>
               <div class="col-sm-4">
                   <input type="text" class="form-control" id="phoneNum" placeholder="联系电话" ng-model="phone">
               </div>
           </div>
           <p class="createTitle">其他类型</p>
           <div ng-switch="model.model" ng-repeat="model in model_list">
               <div ng-switch-when="1">123 <span ng-click="delete(model.id)">delete</span></div>
               <div ng-switch-when="2">234 <span ng-click="delete(model.id)">delete</span></div>
               <div ng-switch-when="3">345 <span ng-click="delete(model.id)">delete</span></div>
               <!--<div ng-switch-when="1" ng-include="'../../../zrh-master/templates/model/accounts_receivable.html'"></div>-->
               <!--<div ng-switch-when="2" ng-include="'../../../zrh-master/templates/model/company_detail.html'"></div>-->
               <!--<div ng-switch-when="3" ng-include="'../../../zrh-master/templates/model/financial_statements.html'"></div>-->
           </div>
       </form>
   </div>
</div>