<div class="form-group" style="padding-left: 15px">
    <div class="col-sm-3 noPadding">
        <input type="text" class="form-control" style="border-radius: 0" placeholder="模板名称"
               ng-model="model.title">
    </div>
    <div class="col-sm-3 noPadding">
        <input type="text" class="form-control" style="border-radius: 0" placeholder="model.title"
                  ng-model="model.content">
    </div>
    <button ng-click="delete(model.id_model)" class="btn btnDelete">-</button>
</div>