<div class="form-group" style="margin-bottom: 0;padding-left: 15px;">
    <div class="width80">
        <input type="text" class="form-control" style="border-radius: 0" placeholder="模板名称"
               ng-model="model.title">
    </div>
</div>
<div class="form-group" style="padding-left: 15px;">
    <div class="width80" style="padding-right: 0">
        <textarea type="text" class="form-control" style="border-radius: 0" placeholder="模板描述"
                  ng-model="model.content"></textarea>
    </div>
</div>