<div class="form-group" style="margin: 0">
    <div class="col-sm-6 noPadding">
        <input type="text" class="form-control" style="border-radius: 0" placeholder="模板名称"
               ng-model="model.title">
    </div>
    <!--<button ng-click="delete(model.id_model)" class=" btn btnDelete">-</button>-->
</div>
<div class="form-group">
    <div class="col-sm-6" style="padding-right: 0">
        <textarea type="text" class="form-control" style="border-radius: 0" placeholder="model.title"
                  ng-model="model.content"></textarea>
    </div>
</div>