<div class="content">
    <div class="content-title"><span>团队管理</span>
        <button class="btn btn-grey fr" ui-sref="super.team">返回</button>
    </div>
    <div class="clear">
        <ul class="list-group members-list fl">
            <li class="list-group-item members-list-title list-border-no">
                <span class="width100">职员列表</span>
            </li>
            <div class="members-list-height">
                <li class="list-group-item list-border-no" style="height: 50px" ng-repeat="person in person_list">
                <span class="">
                    <input type="checkbox" style="margin-right: 10px" id="{{person.id}}"
                           ng-checked="isSelected(person.id)"
                           ng-click="updateSelection($event,person.id)">{{person.name}}</span>
                </li>
            </div>
            <li class="list-group-item members-list-option list-border-no">
                <button class="btn btn-grey" ng-click="addToTeam()">添加</button>
            </li>
        </ul>
        <ul class="list-group members-list fl">
            <li class="list-group-item members-list-title list-border-no">
                <span class="width100">团队成员</span>
            </li>
            <div class="members-list-height">
                <li class="list-group-item list-border-no" style="height: 50px" ng-repeat="member in member_list">
                <span class="">
                    <input type="checkbox" style="margin-right: 10px" id="{{member.id}}"
                           ng-checked="isSelected(member.id)"
                           ng-click="updateSelection($event,member.id)">{{member.name}}</span>
                </li>
            </div>
            <li class="list-group-item members-list-option list-border-no">
                <button class="btn btn-grey" ng-click="deleteFromTeam()">删除</button>
            </li>
        </ul>
    </div>
</div>